/*
Theme Name: Ignite
Theme URI: https://www.competethemes.com/ignite/
Author: Compete Themes
Author URI: https://www.competethemes.com
Description: Ignite is a responsive blog theme. It includes logo tools, social media icons, a left- or right-sidebar layout, five fonts, custom background colors, and many additional display options. There is also a premium upgrade for Ignite called Ignite Plus. See our fully-setup live demo at https://www.competethemes.com/ignite-live-demo/
Version: 1.55
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: gray, orange, silver, tan, white, light, two-columns, right-sidebar, left-sidebar, responsive-layout, custom-background, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: ignite

Ignite WordPress Theme, Copyright 2015 Compete Themes
Ignite is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "lusitana", serif;
  line-height: 1.5;
  background: #EEEDE8;
  color: #373B41;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.overflow-container {
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.main {
  background: #EEEDE8;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
}
.main:after {
  content: '';
  position: absolute;
  top: -12em;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373B41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 0 0;
}

a {
  color: #ee6928;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:link {
  color: #ee6928;
}
a:visited, a:hover, a:active {
  color: #803333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lusitana", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #E8EAEE;
  padding: 0.75em;
}

code {
  background: #E8EAEE;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #ee6928;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

/*
.alignnone {
  margin: 1.5em;
}
*/
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.84502em;
  font-size: 0.813em;
  line-height: 1.85;
  color: #7C7D7F;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  padding: 0.8em;
  width: 100%;
  max-width: 27.75em;
  background: #EEEDE8;
  color: #7C7D7F;
  outline: solid 1px #D9DCDF;
  border: none;
  font-family: "lusitana", serif;
  font-size: 0.813em;
  line-height: 1.85;
  border-radius: 0;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-appearance: none;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  padding: 0.8em;
  width: 100%;
  color: #ee6928;
  background: #fecb00;
  outline: none;
  border: none;
  max-width: 13.875em;
  font-family: "lusitana", serif;
  font-size: 0.813em;
  line-height: 1.85;
  border-radius: 0;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-appearance: none;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #803333;
}

input[type="search"] {
  margin-right: 1.5em;
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #7C7D7F;
}

:-moz-placeholder {
  color: #7C7D7F;
}

::-moz-placeholder {
  color: #7C7D7F;
}

:-ms-input-placeholder {
  color: #7C7D7F;
}

/* sticky */
.excerpt.sticky, .sticky.entry {
  outline: solid 3px #ee6928;
}

/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.infinite-loader,
#infinite-handle {
  clear: both;
}

.site-header {
  background: white;
  min-height: 72px;
  padding: 1.25em 3.703% 0;
  border-top: solid 8px #fecb00;
  border-bottom: solid 8px #fecb00;
  position: relative;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.title-info {
  float: right;
}
.title-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.site-title {
  font-size: 1.625em;
  line-height: 1.85;
  z-index: 1;
  float: right;
}
.site-title a {
  text-decoration: none;
  color: #373B41;
  line-height: 0;
}
.site-title a:link, .site-title a:visited {
  color: #373B41;
}
.site-title a:hover, .site-title a:active, .site-title a:focus {
  color: #ee6928;
}
.site-title a:only-child {
  margin-top: -5px;
  line-height: 1.5;
  display: block;
}
.site-title img {
  max-width: 6em;
  max-height: 2.25em;
}
.site-title span {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggle-navigation {
  color: #373B41;
  font-size: 1.625em;
  line-height: 1.35;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
  background: none;
  border: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.menu-primary {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background: #373B41;
  width: 100%;
  min-height: 75em;
  max-width: 25em;
  /* 400px */
  position: absolute;
  top: 4.275em;
  left: 0;
  padding-top: 1.5em;
  text-align: center;
  z-index: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.menu-primary p {
  color: #fecb00;
  display: inline-block;
  border-top: solid 2px #303338;
  border-bottom: solid 2px #303338;
  padding: 1.5em 0;
}

.menu-primary-items,
.menu-unset {
  list-style: none;
}
.menu-primary-items a,
.menu-unset a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 1.5em 0;
  display: block;
}
.menu-primary-items a:hover,
.menu-unset a:hover {
  color: #fecb00;
}
.menu-primary-items ul,
.menu-unset ul {
  list-style: none;
}
.menu-primary-items ul a,
.menu-unset ul a {
  font-size: 0.813em;
  color: #D9DCDF;
  margin-top: -1.5em;
}
.menu-primary-items ul a:hover,
.menu-unset ul a:hover {
  color: #ee6928;
}
.menu-primary-items ul ul a,
.menu-unset ul ul a {
  color: #7C7D7F;
}
.menu-primary-items .current-menu-item > a,
.menu-primary-items .current_page_item > a,
.menu-unset .current-menu-item > a,
.menu-unset .current_page_item > a {
  color: #fecb00;
}

.social-media-icons {
  margin-top: 3em;
}
.social-media-icons li {
  display: inline-block;
}
.social-media-icons li a {
  color: white;
  margin: 0 0.375em;
  text-decoration: none;
  /* for IE9 */
}
.social-media-icons li a:hover {
  color: #fecb00;
}

.site-header.toggled .menu-primary {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.site-header.toggled ~ div .main:after {
  bottom: 0;
  opacity: 0.4;
}
.site-header.toggled ~ div .sidebar-primary-container:after {
  bottom: 0;
  opacity: 0.4;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .site-header {
    padding: 1.25em 7.407% 0;
  }

  .site-title {
    right: 7.407%;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-header {
    height: auto;
    min-height: 4.5em;
    padding: 0 11.11%;
  }

  .toggle-navigation {
    display: none;
  }

  .title-info {
    float: left;
    margin-bottom: 5px;
    padding: 1.125em 3em 0 0;
  }

  .site-title {
    position: static;
    line-height: 1;
    margin-right: 0.225em;
  }

  .menu-primary {
    position: static;
    max-width: none;
    min-height: 1px;
    width: auto;
    padding: 0;
    text-align: left;
    background: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .menu-primary p {
    display: none;
  }

  .menu-unset {
    float: left;
  }

  .menu-primary-items,
  .menu-unset ul {
    margin: .8em 0 0 0;
    line-height: 0;
    float: left;
  }
  .menu-primary-items li,
  .menu-unset ul li {
    float: left;
    position: relative;
    margin-right:2em;
  }
  .menu-primary-items a,
  .menu-unset ul a {
    color: #373B41;
    margin: 0;
    padding: 0 0.75em;
    /*font-size: 0.813em;*/
    font-size:1em;
    line-height: 5.231em;
    /* 68px */
    letter-spacing: 0.1em;
    background: white;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
  }
  .menu-primary-items a:link, .menu-primary-items a:visited,
  .menu-unset ul a:link,
  .menu-unset ul a:visited {
    color: #000;
  }
  .menu-primary-items a:hover, .menu-primary-items a:active, .menu-primary-items a:focus,
  .menu-unset ul a:hover,
  .menu-unset ul a:active,
  .menu-unset ul a:focus {
    color: #373B41;
    background: #fecb00;
  }
  .menu-primary-items a:hover:after, .menu-primary-items a:active:after, .menu-primary-items a:focus:after,
  .menu-unset ul a:hover:after,
  .menu-unset ul a:active:after,
  .menu-unset ul a:focus:after {
    color: white !important;
  }
  .menu-primary-items a:hover + ul, .menu-primary-items a:active + ul, .menu-primary-items a:focus + ul,
  .menu-unset ul a:hover + ul,
  .menu-unset ul a:active + ul,
  .menu-unset ul a:focus + ul {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul,
  .menu-unset ul ul {
    position: absolute;
    top: -999em;
    opacity: 0;
    margin: 0;
    z-index: 3;
    min-width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* remove slight wiggle caused by opacity change */
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .menu-primary-items ul li,
  .menu-unset ul ul li {
    min-width: 100%;
  }
  .menu-primary-items ul a,
  .menu-unset ul ul a {
    margin-top: 0;
    color: #373B41;
    white-space: nowrap;
  }
  .menu-primary-items ul a:hover, .menu-primary-items ul a:active, .menu-primary-items ul a:focus,
  .menu-unset ul ul a:hover,
  .menu-unset ul ul a:active,
  .menu-unset ul ul a:focus {
    color: white;
  }
  .menu-primary-items ul a:hover:after, .menu-primary-items ul a:active:after, .menu-primary-items ul a:focus:after,
  .menu-unset ul ul a:hover:after,
  .menu-unset ul ul a:active:after,
  .menu-unset ul ul a:focus:after {
    color: white !important;
  }
  .menu-primary-items ul a:hover + ul, .menu-primary-items ul a:active + ul, .menu-primary-items ul a:focus + ul,
  .menu-unset ul ul a:hover + ul,
  .menu-unset ul ul a:active + ul,
  .menu-unset ul ul a:focus + ul {
    top: 0;
    left: 100%;
  }
  .menu-primary-items ul:hover,
  .menu-unset ul ul:hover {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul ul:hover,
  .menu-unset ul ul ul:hover {
    top: 0;
    left: 100%;
  }
  .menu-primary-items:after,
  .menu-unset ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .site-header .social-media-icons {
    display: none;
  }

  #menu-primary-items,
  .menu-unset ul {
    /* using id to avoid annoying selector competition */
  }
  #menu-primary-items .current-menu-item > a,
  #menu-primary-items .current_page_ancestor > a,
  #menu-primary-items .current_page_item > a,
  #menu-primary-items .current_page_ancestor > a,
  .menu-unset ul .current-menu-item > a,
  .menu-unset ul .current_page_ancestor > a,
  .menu-unset ul .current_page_item > a,
  .menu-unset ul .current_page_ancestor > a {
    color: white;
    background: #cc0001;
  }
  #menu-primary-items .current-menu-item > a:after,
  #menu-primary-items .current_page_ancestor > a:after,
  #menu-primary-items .current_page_item > a:after,
  #menu-primary-items .current_page_ancestor > a:after,
  .menu-unset ul .current-menu-item > a:after,
  .menu-unset ul .current_page_ancestor > a:after,
  .menu-unset ul .current_page_item > a:after,
  .menu-unset ul .current_page_ancestor > a:after {
    color: white !important;
  }
  #menu-primary-items.clear,
  .menu-unset ul.clear {
    clear: left;
  }

  /* because .menu-primary-items is a 'ul' this needs to be declared separately */
  .menu-unset:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .menu-unset ul {
    margin: 0;
  }
  .menu-unset ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* show drop down items when accessed with keyboard too */
  .menu-primary-items ul.focused,
  .menu-unset ul ul.focused {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul.focused ul.focused,
  .menu-unset ul ul.focused ul.focused {
    top: 0;
    left: 100%;
  }

  .parent-icons .menu-item-has-children > a {
    padding: 0 1.5em 0 0.75em;
  }
  .parent-icons .menu-item-has-children > a:after {
    content: '\25BE';
    font-family: 'Arial', 'sans-serif';
    color: #373B41;
    margin-left: 4px;
    position: absolute;
    top: -1px;
  }
  .parent-icons .menu-item-has-children ul .menu-item-has-children > a:after {
    content: '\25B8';
  }

  .site-header .social-media-icons {
    display: inline-block;
    visibility: hidden;
    margin: 0;
    float: right;
    position: absolute;
  }
  .site-header .social-media-icons li a {
    color: #373B41;
    line-height: 4.25em;
    /* 68px */
  }
  .site-header .social-media-icons li a:hover {
    color: #ee6928;
  }
  .site-header .social-media-icons li:last-child a {
    margin-right: 0;
  }
  .site-header .social-media-icons.visible {
    position: relative;
    visibility: visible;
  }
  .site-header .social-media-icons.visible-top {
    visibility: visible;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-header {
    padding: 0 7.407%;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .menu-primary p {
    margin: 1.0625em 3em 8px -3em;
    display: inline-block;
    line-height: 2;
    color: #7C7D7F;
    border: none;
    padding: 0;
    float: left;
  }

  .site-title {
    float: left;
  }
}

.main,
.sidebar-primary-container,
.site-footer,
#disqus_thread {
  padding: 1.5em 3.703%;
}

.excerpt, .entry {
  background: white;
  margin: 1.5em auto;
  padding: 1.5em 8% 2.25em;
}

/*fix for mobile view */
.main {
  padding:0;
}

.entry {
  margin: 1em auto;
  padding: 1.5em 2% 2.25em;
}

.excerpt {
 margin: 1em 0 !important;
}


.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 56.5%;
  left: -9.5%;
  width: 119%;
  margin: -1.5em 0 1.5em 0;
  overflow: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.excerpt-meta-top, .entry-meta-top {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  position: relative;
}
.excerpt-meta-top:after, .entry-meta-top:after {
  content: '';
  position: absolute;
  width: 32%;
  height: 2px;
  background: #cc0001;
  bottom: 0;
  left: 0;
}
.excerpt-meta-top a, .entry-meta-top a {
  text-decoration: none;
  color: #373B41;
}
.excerpt-meta-top a:link, .entry-meta-top a:link, .excerpt-meta-top a:visited, .entry-meta-top a:visited {
  color: #373B41;
}
.excerpt-meta-top a:hover, .entry-meta-top a:hover, .excerpt-meta-top a:active, .entry-meta-top a:active {
  color: #ee6928;
}

.excerpt-title, .entry-title {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.385;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.excerpt-title a, .entry-title a {
  color: #373B41;
  text-decoration: none;
}
.excerpt-title a:link, .entry-title a:link, .excerpt-title a:visited, .entry-title a:visited {
  color: #373B41;
}
.excerpt-title a:hover, .entry-title a:hover, .excerpt-title a:active, .entry-title a:active {
  color: #7C7D7F;
}

.excerpt-content {
  border-bottom: solid 2px #D9DCDF;
}

.more-link {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2.25em;
  background: #fecb00;
  color: #373B41;
  padding: 0 16.5px;
  margin: 1.125em 0;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  clear: both;
}
.more-link:link, .more-link:visited {
  color: white;
}
.more-link:hover, .more-link:active {
  background: #ee6928;
}

.excerpt-categories, .entry-categories,
.excerpt-tags,
.entry-tags,
.excerpt-comments {
  color: #7C7D7F;
}
.excerpt-categories p, .entry-categories p,
.excerpt-tags p,
.entry-tags p,
.excerpt-comments p {
  margin: 0.75em 0 0;
  padding-left: 1.5em;
}
.excerpt-categories i, .entry-categories i,
.excerpt-tags i,
.entry-tags i,
.excerpt-comments i {
  margin-left: -1.5em;
}
.excerpt-categories a, .entry-categories a,
.excerpt-tags a,
.entry-tags a,
.excerpt-comments a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.813em;
  line-height: 1.7;
  margin-right: 0.75em;
}
.excerpt-categories a:link, .entry-categories a:link, .excerpt-categories a:visited, .entry-categories a:visited,
.excerpt-tags a:link,
.entry-tags a:link,
.excerpt-tags a:visited,
.entry-tags a:visited,
.excerpt-comments a:link,
.excerpt-comments a:visited {
  color: #7C7D7F;
}
.excerpt-categories a:hover, .entry-categories a:hover, .excerpt-categories a:active, .entry-categories a:active,
.excerpt-tags a:hover,
.entry-tags a:hover,
.excerpt-tags a:active,
.entry-tags a:active,
.excerpt-comments a:hover,
.excerpt-comments a:active {
  color: #ee6928;
}

.excerpt-categories i, .entry-categories i,
.excerpt-comments i {
  margin-right: 0.4375em;
}

.excerpt-tags i, .entry-tags i {
  margin-right: 0.625em;
}

.loop-pagination {
  background: white;
  padding: 0.75em;
  border-top: solid 4px #fecb00;
  text-align: center;
  margin-bottom: 1.5em;
}
.loop-pagination span,
.loop-pagination a {
  margin: 0 0.375em;
}
.loop-pagination a {
  text-decoration: none;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .excerpt-meta-top:after, .entry-meta-top:after {
    width: 20%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  .main,
  .sidebar-primary-container,
  .site-footer,
  #disqus_thread {
    padding: 1.5em 7.407%;
  }

  .loop-pagination span,
  .loop-pagination a {
    margin: 0 0.75em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .main,
  .sidebar-primary-container,
  .site-footer,
  #disqus_thread {
    padding: 1.5em 11.11%;
  }

  .excerpt, .entry {
    padding: 2.25em 14.333%;
  }

  .featured-image {
    left: -20%;
    width: 140%;
    padding-bottom: 66.5%;
    margin-top: -2.25em;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  /* switch from padding to width */
  .main {
    width: 55.55%;
    padding: 1.5em 0;
    float: left;
    margin: 0 3.703% 0 7.407%;
  }

  .sidebar-primary-container, .site-footer, #disqus_thread {
    padding: 1.5em 7.407%;
  }

  .excerpt, .entry {
    padding: 2.25em 13.333%;
  }

  .featured-image {
    left: -18%;
    width: 136%;
    padding-bottom: 64.5%;
  }

  .loop-pagination {
    margin-bottom: 3em;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .excerpt, .entry {
    padding-top: 3em;
  }

  .excerpt-title, .entry-title {
    font-size: 2.625em;
    line-height: 1.143;
  }

  .excerpt-categories, .entry-categories,
  .excerpt-tags,
  .entry-tags,
  .excerpt-comments {
    display: inline-block;
  }

  .excerpt-categories, .entry-categories,
  .excerpt-tags,
  .entry-tags {
    margin-right: 0.75em;
  }

  .featured-image {
    margin-top: -3em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .main {
    width: 59.253%;
  }

  .excerpt, .entry {
    margin: 3em 0;
    padding: 3em 12.5% 2.25em;
  }

  .featured-image {
    left: -16.67%;
    width: 133.33%;
    padding-bottom: 63.5%;
  }
}
.sidebar-primary-container {
  position: relative;
  /* used to set neg z-index so main overlay covers it */
  background: #EEEDE8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
}
.sidebar-primary-container:after {
  content: '';
  position: absolute;
  top: 0;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373B41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.widget {
  background: white;
  border-top: solid 6px #fecb00;
  font-size: 0.813em;
  line-height: 1.85;
  margin: 1.84502em 0;
  padding: 1.615em 8% 0.923em;
}
.widget ul {
  list-style: none;
  margin: 1em 0 1.84502em;
}
.widget ul li {
  padding: 0.846em 0.5em 0.923em 0;
  /* subtracted 1px for border */
  margin: 0;
  border-bottom: solid 1px #D9DCDF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget ul li:last-child {
  border: none;
}
.widget ul li a {
  display: block;
  text-decoration: none;
}
.widget ul li:hover {
  background: rgba(240, 240, 240, 0.15);
  padding-left: 0.5em;
  padding-right: 0;
  /* added above to be removed now so the space doesn't decrease at all */
}
.widget ul ul {
  margin: 0 0 0 1em;
}
.widget ul ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget a {
  color: #373B41;
}
.widget a:link, .widget a:visited {
  color: #373B41;
}
.widget a:hover, .widget a:active {
  color: #ee6928;
}

.widget-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 1em;
  line-height: 1.85;
  margin-bottom: 1.84502em;
}

/* widget-specific styling */
.widget-archives ul li,
.widget-categories ul li {
  position: relative;
}
.widget-archives ul li span,
.widget-categories ul li span {
  float: right;
  margin-top: -1.75em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget-archives ul li:hover span,
.widget-categories ul li:hover span {
  padding-right: 0.75em;
}

.widget_ct_ignite_image {
  background: none;
  border: none;
  padding: 0;
}

/* 800px */
@media all and (min-width: 50em) {
  .sidebar-primary-container .widget {
    padding: 1.615em 14.33% 0.923em;
  }
  .sidebar-primary-container .widget_ct_ignite_image {
    padding: 0;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .sidebar-primary-container {
    width: 25.923%;
    padding: 1.5em 0;
    float: left;
    margin-top: 1.5em;
  }

  .widget:first-child {
    margin-top: 0;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .sidebar-primary-container {
    width: 22.222%;
    margin-top: 1em;
  }
}
.entry-content {
  margin-top: 1.5em;
}
.entry-content iframe {
  max-width: 100%;
}
.entry-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.further-reading {
  margin: 1.5em 0;
}
.further-reading span {
  border-bottom: solid 2px #fecb00;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.further-reading a {
  color: #373B41;
  text-decoration: none;
  display: block;
}
.further-reading a:link, .further-reading a:visited {
  color: #373B41;
}
.further-reading a:hover, .further-reading a:active {
  color: #ee6928;
}

.author-meta {
  background: #f5f5f5;
  border: solid 1px #E8EAEE;
  padding: 1.5em;
  margin: 1.5em 0;
}
.author-meta h4 {
  font-weight: 700;
  border-bottom: solid 1px #cc0001;
  display: inline-block;
  padding-bottom: 3px;
}
.author-meta h4 a {
  text-decoration: none;
  color: #373B41;
}
.author-meta h4 a:link, .author-meta h4 a:visited {
  color: #373B41;
}
.author-meta h4 a:hover, .author-meta h4 a:active, .author-meta h4 a:focus {
  color: #ee6928;
}
.author-meta img {
  border-radius: 50%;
  float: left;
  margin: 0 1.5em 0 0;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.author-meta p {
  margin-top: 0.75em;
  margin-left: 6em;
}

/* 700px */
@media all and (min-width: 43.75em) {
  .further-reading p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 4%;
  }
  .further-reading .prev {
    float: left;
  }
  .further-reading .next {
    text-align: right;
    padding: 0 0 0 4%;
    float: right;
  }
  .further-reading:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .entry {
    margin-bottom: 1.5em;
  }
}
.comments {
  background: white;
  margin: -1.5em 0 3em;
  padding: 0 8% 2.25em;
}

.comments-number {
  border-top: solid 2px #D9DCDF;
  padding-top: 1.375em;
}

.comment-list {
  list-style: none;
  margin: 3em 0;
}
.comment-list ul {
  list-style: none;
  margin: 3em 0 1.5em 3em;
}
.comment-list ul li:first-child:before {
  content: "\2192";
  position: absolute;
  left: -1.5em;
  top: 1em;
}

li.comment,
li.pingback {
  margin: 3em 0;
  position: relative;
}

.comment-content {
  margin-left: 3.75em;
}
.comment-content p:first-child {
  margin-top: 0;
}
.comment-content p:last-child {
  margin-bottom: 1.437em;
  /* b/c comment meta border */
}

.no-avatars .comment-content,
.no-avatars .comment-meta {
  margin-left: 0;
}

.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-author img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  float: left;
  margin: 0 0.75em 0 0;
}
.comment-author .author-name {
  font-weight: 700;
}
.comment-author .author-name a {
  color: #ee6928;
  text-decoration: none;
}
.comment-author .author-name a:link, .comment-author .author-name a:visited {
  color: #ee6928;
}
.comment-author .author-name a:hover, .comment-author .author-name a:active {
  color: #803333;
}

.comment-meta {
  font-size: 0.813em;
  line-height: 1.85;
  display: inline-block;
  border-top: solid 1px #D9DCDF;
  margin-left: 4.6125em;
}

.comment-date {
  display: inline-block;
}

.comment-reply-link,
.comment-edit-link {
  text-decoration: none;
}
.comment-reply-link:before,
.comment-edit-link:before {
  content: ' | ';
  color: #373B41;
}

.bypostauthor .comment-author img {
  border: solid 2px #cc0001;
}
.bypostauthor .comment-author .author-profile-image-comment img {
  border: none;
}

.comment-respond {
  margin-top: 3em;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .comment-pagination p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .comment-pagination .next-comment {
    text-align: right;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .comments {
    padding: 0 14.333% 2.25em;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .comments {
    padding: 0 13.333% 2.25em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .comments {
    padding: 0 12.5% 2.25em;
  }
}
.site-footer {
  background: #373B41;
  color: #7C7D7F;
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.site-footer a {
  color: #7C7D7F;
  text-decoration: none;
}
.site-footer a:link, .site-footer a:visited {
  color: #7C7D7F;
}
.site-footer a:hover, .site-footer a:active {
  color: #ee6928;
}

.design-credit {
  background: #303338;
  color: #7C7D7F;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  padding: 0.75em;
  margin-top: 3em;
  position: relative;
  left: -4%;
  width: 108%;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .design-credit {
    left: -9%;
    width: 118%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .sidebar-subsidiary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .design-credit {
    clear: both;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-footer {
    padding: 1.5em 7.407% 0;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .design-credit {
    left: -4%;
    width: 108%;
  }
}
/* screen reader styling */
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* skip content link */
.skip-content {
  position: absolute;
  top: -4.5em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #373B41;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.skip-content:focus {
  top: 0;
}

.breadcrumbs {
  text-transform: uppercase;
  color: #7C7D7F;
  letter-spacing: 0.08em;
  padding: 3em 3.703% 0;
  background: #EEEDE8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumbs a {
  text-decoration: none;
  color: #ee6928;
}
.breadcrumbs a:link, .breadcrumbs a:visited {
  color: #ee6928;
}
.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #803333;
}
.breadcrumbs span {
  opacity: 0.7;
}
.breadcrumbs + div .excerpt, .breadcrumbs + div .entry,
.breadcrumbs + div .search-container {
  margin-top: 0;
}

/* 600px  breadcrumbs */
@media all and (min-width: 37.5em) {
  .breadcrumbs {
    padding: 3em 7.407% 0;
  }
}
/* 800px  breadcrumbs */
@media all and (min-width: 50em) {
  .breadcrumbs {
    padding: 3em 11.11% 0;
  }
}
/* 900px  breadcrumbs */
@media all and (min-width: 56.25em) {
  .breadcrumbs {
    padding: 3em 7.407% 0;
    /* remove margin top on sidebar (and main which didn't have any anyway)*/
  }
  .breadcrumbs ~ div {
    margin-top: 0;
  }
}
.search .entry {
  margin-bottom: 0;
}
.search .entry-header {
  padding-top: 1.5em;
}

.search-form {
  margin-top: 1.5em;
}
.search-form input[type="submit"] {
  max-width: 27.75em;
  margin-top: 1.5em;
}

.search .search-end {
  padding: 1.5em 8% 2.25em;
  background: white;
  margin-bottom: 1.5em;
}
.search .search-end.top {
  padding-bottom: 3em;
}

.search-no-results .search-end.top .search-form-container {
  display: none;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .search-form input[type="submit"] {
    max-width: 13.875em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .search .search-container {
    padding: 1.5em 0;
  }
  .search .search-end {
    padding: 1.5em 14.333% 2.25em;
  }
  .search .search-end.top {
    padding-bottom: 4.5em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .search .search-container {
    margin-top: 3em;
  }
  .search .search-end {
    padding: 1.5em 12.5% 2.25em;
    margin-bottom: 3em;
  }
}
/* Password-protected post */
.post-password-form input[type="password"] {
  display: block;
  margin: 0.75em 0;
}

/* attachment page */
.singular-attachment .further-reading p {
  width: 49.5%;
}

/* Full-width template */
@media all and (min-width: 56.25em) {
  .page-template-full-width .main {
    float: none;
    width: 85.186%;
    margin-left: 7.407%;
  }
}
/* Left Sidebar */
@media all and (min-width: 56.25em) {
  .sidebar-left .main {
    float: right;
    margin: 0 7.407% 0 3.703%;
  }
  .sidebar-left .sidebar-primary-container {
    float: none;
    margin-left: 7.407%;
  }
}
/**
 * 14.2 Galleries
 */
.gallery {
  margin: 1.5em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #7C7D7F;
  display: block;
  font-family: "lusitana", serif;
  font-size: 12px;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

/* bbpress styles */
/* The evil, inane styles of bbPress have left little recourse, so I apologize now
 * for my CSS sins; for every !important tag and id used to battle the font-size
 * re-declarations, qualifying selectors, triple id selectors, and other villainy
 * of bbPress.
 *
 * Amen.
*/
#ignite div.bbp-search-form,
#ignite-child div.bbp-search-form {
  float: none;
}

#bbp_search_submit {
  padding: 0.8em;
}

#bbp_search {
  width: 100% !important;
  margin: 0 0.375em 0.75em 0;
}

#bbpress-forums {
  font-size: 1em !important;
  line-height: 1.5 !important;
}
#bbpress-forums ul,
#bbpress-forums .bbp-forum-content,
#bbpress-forums .bbp-breadcrumb {
  font-size: 1em !important;
  line-height: 1.5 !important;
}
#bbpress-forums .bbp-topic-meta,
#bbpress-forums .bbp-forum {
  font-size: 13px !important;
  line-height: 16px;
}
#bbpress-forums .bbp-forum-title {
  font-weight: 700;
}
#bbpress-forums .entry {
  padding: 1.5em;
}

/* Disqus styles */
#disqus_thread {
  background: #fff;
  margin: -1.5em 0 1.5em;
}

/*

ATTENTION:

CSS edits made here won't have any effect. Ignite doesn't load the style.css file because
it loads a minified version of the stylesheet instead (style.min.css) to make your site faster.

If you want to make CSS edits to your site, use the "Custom CSS" section in the Customizer.

If you want more information about customizing Ignite with CSS, check out this guide: https://www.competethemes.com/help/custom-css-ignite/

*/
.mainContentAdsense{
  display:block;
  margin-top:0;
}
.mainContentAdsense i {
  font-size:10px;
  color:#ccc;
  font-style: normal;
  font-weight: normal;
}

.picAdsense{
  margin:0 0 0 0;
}
.picAdsense i {
  font-size:10px;
  color:#ccc;
  font-style: normal;
  font-weight: normal;

}

.bf-image {
  left: -16.67%;
  width: 100%;
}

div#fbSEOComments {
  background-color: #fff;
}

.footerMenu {
  clear:both;
  width:100%;
  text-align: center;
}
.footerMenu ul {

  display: inline-block;
}

.footerMenu li {
  float:left;
  list-style: none;
  padding-left:20px;
  margin: 0 auto;

}

.singular-pagination {
  width:100%;
  display: block;
}

.singular-pagination a {
  color:#666;
  text-decoration: none;
  text-align: left;
  font-size: 2em;

}
.singular-pagination i {
  font-style: normal;
  background-color: #ccc;
  font-size: .8em;
  color:#666;
  padding:5px 100px;
}

.moreofthis{
  color:#666;
  font-size: 1em;
}

.bfcenter {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.overflow-container {
  background: #eee !important;
}

.entry-tags {
  font-size: 0.7em;
}

.singular-pagination{
margin: 0 0 1em 0;
}


.site-title img {
  max-width: 10em;
  max-height: 4.25em;
}



.bfnext{
    float: right;
    background: #2d5f9a;
    padding: 9px;
    margin: 0px 0 10px 5px;
}
.bfnext a {
	color: #fff !important;
	text-decoration:none;
}
.bfmash{
 float:left;
}
