@charset "UTF-8";
/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
		3.8.1 - Cover Image
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
	3.11 - Widgets
4.0 - Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
#buddypress .pagination { display: block; padding: 0 0 10px; border-width: 0 0 1px; margin: 1.5em 0; position: relative; font-size: 13px; font-family: "Poppins", sans-serif; border-style: solid; border-color: #e6e6e6; }
#buddypress .pagination:after { display: table; clear: both; content: ""; }
#buddypress .pagination .pag-count { float: right; margin-left: 0.75em; }
#buddypress .pagination .pagination-links { float: left; margin-right: 0.75em; }
#buddypress .pagination .pagination-links .page-numbers { display: inline-block; padding: 0 5px; vertical-align: middle; }
#buddypress .pagination .pagination-links .prev { display: inline-block; font-size: 0; vertical-align: middle; }
#buddypress .pagination .pagination-links .prev:before { font: 18px/1 "bimber"; content: ""; }
#buddypress .pagination .pagination-links .next { display: inline-block; font-size: 0; vertical-align: middle; }
#buddypress .pagination .pagination-links .next:after { font: 16px/1 "bimber"; content: ""; }
#buddypress #pag-bottom { padding-top: 10px; padding-bottom: 0; border-top-width: 0; border-bottom-width: 0; }

/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
#buddypress .clear { clear: right; }

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
#buddypress #whats-new-form { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 710px; padding: 20px 30px 20px 0; margin-bottom: 12px; background-color: #f6f6f6; }
#buddypress #whats-new-form .activity-greeting { margin-right: 80px; margin-bottom: 10px; line-height: 1; }
#buddypress #whats-new-form textarea { display: block !important; width: 100%; height: 2.2em; margin: 0 0 6px; background: #fff; }
#buddypress #whats-new-avatar { width: 40px; float: right; margin-right: 30px; }
#buddypress #whats-new-content { margin-right: 80px; }
#buddypress #whats-new-options:after { display: table; clear: both; content: ""; }
#buddypress #whats-new-post-in { max-width: 200px; }
#buddypress #whats-new-submit { float: left; }

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
#buddypress .activity-list { list-style: none; }
#buddypress .activity-list .activity-item { overflow: hidden; max-width: 710px; padding-top: 0; padding-bottom: 0; border-width: 0; margin-bottom: 12px; }
#buddypress .activity-time-since { font: 300 13px/1.125 "Poppins", "Roboto", "Arial", sans-serif; }
#buddypress .activity-content { position: relative; border: 1px solid #e6e6e6; }
#buddypress .activity-avatar { float: right; margin: 20px 30px 15px 10px; }
#buddypress .activity-avatar a { display: block; }
#buddypress .activity-avatar .avatar { display: block; width: 40px; height: 40px; }
#buddypress .activity-header { padding: 0 30px; margin-top: 20px; margin-bottom: 15px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 300; line-height: 1.25; }
#buddypress .activity-header a { font-weight: 600; color: #000; }
#buddypress .activity-header > p { margin-bottom: 0.75em; }
#buddypress .activity-header .activity-time-since { display: block; font-weight: 300; }
#buddypress .activity-header .time-since { display: block; font: 300 13px/1.25 "Poppins", "Roboto", "Arial", sans-serif; }
#buddypress .activity-header .avatar { display: inline-block; float: none; margin-left: 6px; vertical-align: middle; }
#buddypress .activity-inner { clear: both; padding: 0 30px; }
#buddypress .activity-inner iframe { display: block; max-width: calc( 100% + 60px ); margin-left: -30px; margin-bottom: -1rem; }
#buddypress .activity-inner > p { margin: 1rem 0; word-wrap: break-word; }
#buddypress .activity-inner > .activity-inner { margin: 0; }
#buddypress .activity-inner > blockquote { margin: 0; }
#buddypress .activity-inreplyto { font-size: 13px; color: #999; }
#buddypress .activity-inreplyto > p { margin: 0; display: inline; }
#buddypress .activity-inreplyto blockquote, #buddypress .activity-inreplyto div.activity-inner { background: none; border: none; display: inline; margin: 0; overflow: hidden; padding: 0; }
#buddypress .activity-meta { clear: both; padding-right: 30px; padding-left: 30px; margin-bottom: 5px; font-family: "Poppins", sans-serif; }
#buddypress .activity-meta a.bp-primary-action, #buddypress .activity-meta a.bp-secondary-action { margin-top: 15px; margin-bottom: 10px; }
#buddypress .activity-meta .view:before, #buddypress .activity-meta .acomment-reply:before { display: inline-block; margin-left: 8px; vertical-align: middle; font: 16px/13px "bimber"; content: "\e010"; opacity: 0.666; }
#buddypress .activity-meta .view span, #buddypress .activity-meta .acomment-reply span { display: none; }
#buddypress .activity-meta .activity-read-more { margin-right: 1em; white-space: nowrap; }
#buddypress li.has-comments .activity-meta .acomment-reply span { display: inline-block; }
#buddypress li.new_forum_post .activity-content .activity-inner, #buddypress li.new_forum_topic .activity-content .activity-inner { border-right: 2px solid #EAEAEA; margin-right: 5px; padding-right: 10px; }
#buddypress li.has-comments { padding-bottom: 15px; }
#buddypress li.load-more, #buddypress li.load-newest { margin: 15px 0; border: none; }
#buddypress li.load-more a, #buddypress li.load-newest a { display: block; padding: 10px 15px; font-size: 14px; font-weight: 700; font-family: "Poppins", "Roboto", sans-serif; text-transform: uppercase; text-align: center; background: #f2f2f2; color: inherit; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Single activity page */
#buddypress a.bp-primary-action { display: inline-block; margin-left: 20px; font: 500 13px/1.125 "Poppins", "Roboto", "Arial", sans-serif; color: #666; }
#buddypress a.bp-secondary-action { display: inline-block; margin-left: 10px; font: 300 13px/1.125 "Poppins", "Roboto", "Arial", sans-serif; color: #666; }

/* highlight some texts, like "Public Group" */
#buddypress span.highlight { padding: 0; margin-left: 5px; font-size: 13px; }

/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
#buddypress .activity-comments { clear: both; overflow: hidden; /* IE fix */ background-color: #f6f6f6; }
#buddypress .activity-comments ul { clear: both; margin: 0 30px 0 40px; }
#buddypress .activity-comments ul li { border-top: 1px solid #eee; padding: 1.5rem 0 0; }
#buddypress .activity-comments .acomment-avatar { float: right; width: 30px; margin-right: 10px; }
#buddypress .activity-comments .acomment-meta { color: #999; font: 300 13px/1.25 "Poppins", "Roboto", "Arial", sans-serif; }
#buddypress .activity-comments .acomment-meta a { color: #000; font-weight: 500; }
#buddypress .activity-comments .acomment-meta .activity-time-since { display: block; font-weight: 300; }
#buddypress .activity-comments .acomment-content { clear: both; margin-left: 40px; }
#buddypress .activity-comments .acomment-content > p { margin: 1rem 0; }
#buddypress .activity-comments .acomment-options { margin-left: 40px; }
#buddypress .activity-comments .acomment-options .bp-primary-action, #buddypress .activity-comments .acomment-options .bp-secondary-action { margin-top: 8px; margin-bottom: 8px; }

/* Single activity page */
#buddypress .activity-comments .ac-form { clear: both; padding: 20px 30px; display: none; }
#buddypress .activity-comments .ac-input { margin-bottom: 6px; }
#buddypress .activity-comments #message { margin-top: 15px; margin-bottom: 0; }
#buddypress .activity-comments .ac-reply-avatar { float: right; width: 40px; margin-left: 10px; }
#buddypress .activity-comments .ac-reply-content { margin-right: 50px; }

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
.dir-search { float: left; }
.dir-search input { vertical-align: top; }
.dir-search input[type=submit] { margin-right: 2px; }
.dir-search .dir-form { clear: both; }
.dir-search .current-member-type { font-style: italic; }

.g1-bp-header-row .entry-title { float: right; }
.g1-bp-header-row .dir-search { float: left; }

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
#sitewide-notice { position: fixed; right: 10px; left: 10px; top: 10px; z-index: 9999; }
#sitewide-notice.admin-bar-on { top: 42px; }
#sitewide-notice strong { display: block; margin-bottom: -1em; }
#sitewide-notice #close-notice { display: block; width: 32px; height: 32px; overflow: hidden; position: absolute; left: 20px; right: auto; top: 10px; font: 17px/32px "bunchicon"; text-align: center; color: inherit; }
#sitewide-notice #close-notice:before { display: block; width: inherit; content: "\e00e"; }

#buddypress #message, #sitewide-notice { background-color: #ffd; color: #440; }
#buddypress #message p, #sitewide-notice p { padding: 15px 30px; margin: 0 auto; }

#buddypress #message { clear: both; margin: 0 0 1.5rem; }
#buddypress #message p { max-width: 1152px; }
#buddypress #message.updated { clear: both; display: block; }
#buddypress #message.error { background-color: #fdc; color: #800; }
#buddypress #message.warning { background-color: #ffe0af; color: #800; }
#buddypress #message.updated { background-color: #efc; color: #250; }
#buddypress .g1-row-notices #message { margin-bottom: 0; }
#buddypress #pass-strength-result { display: none; max-width: 13em; padding: 5px 0; border-width: 4px 0 0; margin: 5px 0; font-size: 13px; font-weight: 600; text-align: right; border-style: dotted; border-color: #ddd; }
#buddypress #pass-strength-result.error, #buddypress #pass-strength-result.bad { display: block; border-color: #ff853c; color: #ff853c; }
#buddypress #pass-strength-result.good { display: block; border-color: #ffc000; color: #ffc000; }
#buddypress #pass-strength-result.short { display: block; border-color: #ff0036; color: #ff0036; }
#buddypress #pass-strength-result.strong { display: block; border-color: #559911; color: #559911; }

#buddypress .standard-form#signup_form div div.error { background: #faa; color: #a00; margin: 0 0 10px 0; padding: 6px; width: 90%; }

#buddypress div.accept, #buddypress div.reject { float: right; margin-right: 10px; }

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress .standard-form label, #buddypress .standard-form span.label { display: block; font-weight: bold; margin: 15px 0 5px 0; width: auto; }
#buddypress .standard-form p label { font-weight: normal; margin: auto; }
#buddypress .standard-form p.description { font-size: 13px; color: #999; }
#buddypress .standard-form div.checkbox label:nth-child(n+2), #buddypress .standard-form div.radio div label { color: #888; font-size: 100%; font-weight: normal; margin: 5px 0 0 0; }
#buddypress .standard-form div.radio ul { margin: 10px 0 15px 38px; list-style: disc; }
#buddypress .standard-form div.radio ul li { margin-bottom: 5px; }
#buddypress .standard-form a.clear-value { display: block; margin-top: 5px; outline: none; }
#buddypress .standard-form div.submit { clear: both; padding: 0.75em 0 0; }
#buddypress .standard-form .left-menu { float: right; width: 33.333%; }
#buddypress .standard-form .main-column { width: 66.666%; float: right; }

/* Sign up form */
#buddypress .standard-form#signup_form input[type=text], #buddypress .standard-form#signup_form input[type=email] { width: 100%; }
#buddypress .standard-form#signup_form div.submit { text-align: left; }

/* Sign up form */
#buddypress .standard-form #basic-details-section, #buddypress .standard-form #profile-details-section, #buddypress .standard-form #blog-details-section { float: right; width: 48%; }
#buddypress .standard-form #basic-details-section input[type=password] { width: 50%; }
#buddypress .standard-form #profile-details-section { float: left; }
#buddypress .standard-form #blog-details-section { clear: right; }
#buddypress .standard-form #blog-details-section input#signup_blog_url { width: 50%; }

/* Activation form */
#buddypress #activation-form input[type=text] { width: 100%; }

/* User settings form */
#buddypress #settings-form #email { width: 364px; margin-bottom: 1.5rem; }
#buddypress #settings-form input[type=password] { margin-bottom: 0.75em; }

/* Notifications */
#buddypress #notifications-bulk-management { clear: both; }

/* Send invites form */
#buddypress #send-invite-form .invite:after { display: table; clear: both; content: ""; }

/* Invitations */
#buddypress #invite-list ul { margin-right: 0; list-style: none; }
#buddypress #invite-list label { margin: 0; font-weight: normal; }

/* Messages */
#buddypress #send_message_form #subject { width: 100%; }
#buddypress #search-message-form input { vertical-align: top; }
#buddypress #search-message-form input[type=submit] { margin-right: 6px; }

/* Groups */
#buddypress input#group-name { width: 100%; }

.js #bp-login-widget-form label[for="bp-login-widget-user-login"], .js #bp-login-widget-form label[for="bp-login-widget-user-pass"] { width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); }
.js #bp-login-widget-form #bp-login-widget-user-login, .js #bp-login-widget-form #bp-login-widget-user-pass { display: block; margin-bottom: 10px; }

/* Form classes */
.bp-screen-reader-text { position: absolute; margin: -1px; padding: 0; height: 1px; width: 1px; overflow: hidden; clip: rect(0 0 0 0); border: 0; word-wrap: normal !important; }

/* No JavaScript */
body.no-js #buddypress #notifications-bulk-management #select-all-notifications, body.no-js #buddypress label[for="message-type-select"], body.no-js #buddypress #message-type-select, body.no-js #buddypress #delete_inbox_messages, body.no-js #buddypress #delete_sentbox_messages, body.no-js #buddypress #messages-bulk-management #select-all-messages { display: none; }

/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
@-webkit-keyframes loader-pulsate { from { border-color: #aaa; -webkit-box-shadow: 0 0 6px #ccc; box-shadow: 0 0 6px #ccc; }
  to { border-color: #ccc; -webkit-box-shadow: 0 0 6px #f8f8f8; box-shadow: 0 0 6px #f8f8f8; } }
@-moz-keyframes loader-pulsate { from { border-color: #aaa; -moz-box-shadow: 0 0 6px #ccc; box-shadow: 0 0 6px #ccc; }
  to { border-color: #ccc; -moz-box-shadow: 0 0 6px #f8f8f8; box-shadow: 0 0 6px #f8f8f8; } }
#buddypress a.loading, #buddypress input.loading { -webkit-animation: loader-pulsate .5s infinite ease-in-out alternate; -moz-animation: loader-pulsate .5s infinite ease-in-out alternate; border-color: #aaa; }
#buddypress a.loading:hover, #buddypress input.loading:hover { color: #777; }
#buddypress input[type="submit"].pending, #buddypress input[type="button"].pending, #buddypress input[type="reset"].pending, #buddypress input[type="button"].disabled, #buddypress input[type="reset"].disabled, #buddypress button.pending, #buddypress button.disabled, #buddypress div.pending a, #buddypress a.disabled { border-color: #eee; color: #bbb; cursor: default; }
#buddypress input[type="submit"].pending:hover, #buddypress input[type="button"].pending:hover, #buddypress input[type="reset"].pending:hover, #buddypress input[type="button"].disabled:hover, #buddypress input[type="reset"].disabled:hover, #buddypress button.pending:hover, #buddypress button.disabled:hover, #buddypress div.pending a:hover, #buddypress a.disabled:hover { border-color: #eee; color: #bbb; }

/*--------------------------------------------------------------
3.7 - Tables and Topics
--------------------------------------------------------------*/
/* Base styles */
#buddypress { /* Messages */ }
#buddypress table.notifications td.notification-since { font-size: 13px; line-height: 1.25; }
#buddypress table.notifications td.notification-actions { font-size: 13px; line-height: 1.25; }
#buddypress table.messages-notices td.thread-options { font-size: 13px; line-height: 1.25; }
#buddypress .notifications-options-nav select, #buddypress .notifications-options-nav input[type=submit], #buddypress .messages-options-nav select, #buddypress .messages-options-nav input[type=submit] { margin-left: 2px; vertical-align: middle; }

/* Mobile first */
@media only screen and (max-width: 600px) { #buddypress table.notifications, #buddypress table.notifications tbody, #buddypress table.notifications tr, #buddypress table.notifications th, #buddypress table.notifications td { display: block; }
  #buddypress table.notifications tr { position: relative; padding-right: 30px; margin-bottom: 1.5em; }
  #buddypress table.notifications th.bulk-select-all, #buddypress table.notifications td.bulk-select-check { width: 30px; position: absolute; right: 0; text-align: right; }
  #buddypress table.notifications th.date, #buddypress table.notifications th.actions { display: none; }
  #buddypress table.notifications td.notification-since { margin-bottom: 0.75em; }
  #buddypress table.profile-fields, #buddypress table.profile-fields tbody, #buddypress table.profile-fields tr, #buddypress table.profile-fields td { display: block; }
  #buddypress table.profile-fields td.label { font-weight: bold; }
  #buddypress table.profile-fields td.label:after { content: ":"; } }
/* Larger screens */
@media only screen and (min-width: 601px) { #buddypress { /* Profile fields */ /* Profile visibility */ /* Notification settings */ /* Notifications */ /* Messages */ }
  #buddypress table.notifications, #buddypress table.notification-settings, #buddypress table.profile-fields, #buddypress table.wp-profile-fields, #buddypress table.profile-settings, #buddypress table.messages-notices { width: 100%; margin-bottom: 1.5em; }
  #buddypress table.notifications + table, #buddypress table.notification-settings + table, #buddypress table.profile-fields + table, #buddypress table.wp-profile-fields + table, #buddypress table.profile-settings + table, #buddypress table.messages-notices + table { margin-top: 3em; }
  #buddypress table.notifications th, #buddypress table.notification-settings th, #buddypress table.profile-fields th, #buddypress table.wp-profile-fields th, #buddypress table.profile-settings th, #buddypress table.messages-notices th { padding: 0.5em 10px; border-bottom: 3px solid #e6e6e6; font: 400 14px/1.25 "Poppins", sans-serif; text-transform: uppercase; }
  #buddypress table.notifications td, #buddypress table.notification-settings td, #buddypress table.profile-fields td, #buddypress table.wp-profile-fields td, #buddypress table.profile-settings td, #buddypress table.messages-notices td { padding: 0.5em 10px; border-top: 1px solid #e6e6e6; }
  #buddypress table.wp-profile-fields td.label, #buddypress table.profile-fields td.label { width: 33.333%; }
  #buddypress table.profile-settings th.title { width: 80%; }
  #buddypress table.notification-settings th.icon, #buddypress table.notification-settings td:first-child { display: none; }
  #buddypress table.notification-settings .yes, #buddypress table.notification-settings .no { text-align: center; width: 40px; }
  #buddypress table.notifications th.icon, #buddypress table.notifications td:first-child { display: none; }
  #buddypress table.notifications td.notification-since { padding-top: 0.83em; }
  #buddypress table.notifications td.notification-actions { padding-top: 0.83em; }
  #buddypress table.messages-notices td.thread-options { padding-top: 0.83em; } }
/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
#buddypress #item-header { padding-top: 1.5rem; text-align: center; background-color: #f2f2f2; }
#buddypress #item-header-content { padding-top: 1.5rem; }

@media only screen and (min-width: 801px) { #item-wrapper > .g1-row-inner { max-width: 1152px; }
  #item-wrapper > .g1-row-inner:after { clear: both; display: table; content: ""; }
  #item-header { float: right; display: flex; flex-direction: column; align-items: center; justify-content: center; order: -1; padding-right: 30px; padding-left: 30px; }
  #cover-image-container { float: left; }
  #item-header-content { clear: right; float: right; padding-right: 30px; padding-left: 30px; }
  #item-content { padding-top: 1.5rem; padding-bottom: 3rem; margin: 0 0 auto auto; }
  #item-wrapper.item-wrapper-with-cover-image > .g1-row-inner { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: stretch; align-items: stretch; } }
#buddypress span.activity { display: inline-block; font-size: 13px; line-height: 1.25; font-family: "Poppins", sans-serif; color: #999; }

#buddypress .item-list { clear: both; margin: 0; list-style: none; }
#buddypress .item-list .item-title, #buddypress .item-list h4 { margin: 0; width: 75%; }
#buddypress .item-list .item-title a, #buddypress .item-list h4 a { color: #333; }
#buddypress .item-list .item-title { font-size: 1.17em; line-height: 1.2; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 600; letter-spacing: -0.025em; }
#buddypress .item-list li { padding: 15px 0; border-width: 1px 0 0; margin: 0; position: relative; list-style: none; border-style: solid; border-color: #e6e6e6; }
#buddypress .item-list li:first-child { border-width: 0; }
#buddypress .item-list li .item-avatar { float: right; margin: 0 0 0 10px; }
#buddypress .item-list li h5 span.small { float: left; font-size: 0.83em; font-weight: normal; }
#buddypress .item-list li .item-title span { font-size: 13px; }
#buddypress .item-list li .item-desc { margin: 10px 60px 0 0; width: 50%; }
#buddypress .item-list li .action { position: absolute; top: 15px; left: 0; right: auto; text-align: left; }
#buddypress .item-list li .meta { margin-top: 10px; font: 300 0.83em/1.2 "Poppins", "Roboto", "Arial", sans-serif; color: #999; }
#buddypress .item-list li.group-no-avatar div.item-desc { margin-right: 0; }

#buddypress #admins-list, #buddypress #mods-list, #buddypress #members-list { overflow: auto; margin-bottom: 3rem; list-style: none; }
#buddypress #admins-list li, #buddypress #mods-list li, #buddypress #members-list li { overflow: auto; list-style: none; }
#buddypress #item-buttons:empty { display: none; }

#buddypress #item-nav ul li.loading a { background-position: 88% 50%; }

/* No JavaScript */
body.no-js #buddypress #item-header .js-self-profile-button { display: none; }

#buddypress .item-list-tabs { clear: both; margin: 0 0 10px; }
#buddypress .item-list-tabs > ul { margin: 0; padding: 0; }
#buddypress .item-list-tabs > ul:after { display: table; clear: both; content: ""; }
#buddypress .item-list-tabs > ul > li { float: right; margin: 0; list-style: none; }
#buddypress .item-list-tabs > ul > li > a, #buddypress .item-list-tabs > ul > li > span { display: block; padding: 5px 10px; position: relative; font-size: 14px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 400; text-transform: uppercase; }
#buddypress .item-list-tabs > ul > li > a { color: inherit; opacity: 0.666; font-weight: 700; -moz-transition: opacity 0.375s ease-in-out; -o-transition: opacity 0.375s ease-in-out; -webkit-transition: opacity 0.375s ease-in-out; transition: opacity 0.375s ease-in-out; }
#buddypress .item-list-tabs > ul > li.selected a, #buddypress .item-list-tabs > ul > li.current a, #buddypress .item-list-tabs > ul > li:hover a { color: #333 !important; opacity: 1; }
#buddypress .item-list-tabs .count { display: inline-block; box-sizing: padding-box; min-width: 1.5em; padding: 0; margin-right: 0.25em; text-align: center; vertical-align: top; font: 300 12px/1.5 "Poppins", "Roboto", "Arial", sans-serif; border-radius: 0.75em; border-color: #e6e6e6; background-color: #e6e6e6; color: #666; }
#buddypress .item-list-tabs .no-count { display: none; }
#buddypress .item-list-tabs .hidden { visibility: hidden; }
#buddypress .item-list-tabs .g1-drop .g1-drop-toggle:before { display: inline-block; vertical-align: middle; font: 24px/0.5 "bimber"; content: "\e01f"; }

#buddypress .item-list-tabs#object-nav > ul { width: 100%; white-space: nowrap; }
#buddypress .item-list-tabs#object-nav > ul > li { display: inline-block; float: none; white-space: normal; vertical-align: top; }
#buddypress .item-list-tabs#subnav { padding-top: 6px; border-top: 1px solid #e6e6e6; margin-top: -10px; margin-bottom: 3em; text-transform: none; font-family: "Roboto", "Arial", sans-serif; }
#buddypress .item-list-tabs#subnav > ul > li > a, #buddypress .item-list-tabs#subnav > ul > li > span { padding-top: 2px; padding-bottom: 2px; font-size: 13px; text-transform: none; font-weight: 400; }
#buddypress .item-list-tabs#subnav label, #buddypress .item-list-tabs#subnav select { font-size: 13px; }
#buddypress .item-list-tabs#subnav .last { float: left; }
#buddypress .item-list-tabs#subnav .last select { max-width: 185px; }

/*--------------------------------------------------------------
3.8.1 - Cover Image
--------------------------------------------------------------*/
#cover-image-container { overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 300px; padding-top: 1em; padding-bottom: 1em; position: relative; z-index: 0; }
#cover-image-container .g1-bp-change-image { display: inline-block; position: absolute; z-index: 2; bottom: 10px; font-size: 0; background-color: black; background-color: rgba(0, 0, 0, 0.333); color: #fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
#cover-image-container .g1-bp-change-image:hover { background: rgba(0, 0, 0, 0.666); }
#cover-image-container .g1-bp-change-image:before { display: block; width: 30px; text-align: center; font: 16px/30px "bimber"; content: "\e023"; }

#header-cover-image { display: block; position: absolute; z-index: 1; right: 0; left: 0; top: 0; bottom: 0; background-color: #808080; background-position: center center; background-repeat: no-repeat; background-size: cover; }

#item-header-avatar { display: inline-block; overflow: hidden; margin-bottom: 10px; position: relative; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
#item-header-avatar .g1-bp-change-avatar { display: block; width: 30px; margin-right: -15px; position: absolute; right: 50%; left: auto; bottom: 0; font-size: 0; color: #fff; background-color: black; background-color: rgba(0, 0, 0, 0.333); -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
#item-header-avatar .g1-bp-change-avatar:hover { background-color: rgba(0, 0, 0, 0.666); }
#item-header-avatar .g1-bp-change-avatar:after { display: block; font: 16px/30px "bimber"; content: "\e023"; }
#item-header-avatar img { display: block; }

@media only screen and (max-width: 800px) { #cover-image-container { height: 150px; }
  #item-wrapper.item-wrapper-with-cover-image #item-header-avatar { border-width: 6px; margin-top: -81px; border-style: solid; border-color: #f2f2f2; border-color: #fff; } }
/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
#buddypress { /* Threads */ /* Single thread */ }
#buddypress .message-search { float: left; margin: 0 0 0 20px; }
#buddypress table#message-threads tr.unread td { background: #fff9db; border-top: 1px solid #ffe8c4; border-bottom: 1px solid #ffe8c4; font-weight: bold; }
#buddypress table#message-threads tr.unread td .thread-excerpt, #buddypress table#message-threads tr.unread td .activity, #buddypress table#message-threads tr.unread td.thread-options { font-weight: normal; }
#buddypress #message-thread .message-box { margin: 0; padding: 15px; }
#buddypress #message-thread .alt { background: #f2f2f2; }
#buddypress #message-thread .message-metadata:after { display: table; clear: both; content: ""; }
#buddypress #message-thread img.avatar { float: right; margin: 0 10px 0 0; vertical-align: middle; }
#buddypress #message-thread .message-content { margin-right: 40px; }

#buddypress .message-metadata { position: relative; }
#buddypress .message-star-actions { position: absolute; left: 0; right: auto; top: 0; }
#buddypress .message-action-star span.icon:before, #buddypress .message-action-star span.icon:before, #buddypress .message-action-unstar span.icon:before, #buddypress .message-action-unstar span.icon:before { font-family: dashicons; font-size: 18px; }
#buddypress .message-action-star span.icon:before { content: "\f154"; }
#buddypress .message-action-unstar span.icon:before { content: "\f155"; }
#buddypress a.message-action-star, #buddypress a.message-action-unstar { opacity: 0.666; color: inherit; }
#buddypress a.message-action-star:hover, #buddypress a.message-action-unstar:hover { opacity: 1; }

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/
#buddypress .field-visibility-settings { display: none; margin-top: 0.75em; font: 300 1px/1.25 "Poppins", "Roboto", "Arial", sans-serif; }
#buddypress .field-visibility-settings .radio { margin-right: 0; list-style: none; }
#buddypress .field-visibility-settings .radio label { margin: 0; font-weight: normal; }
#buddypress .field-visibility-settings select { margin: 0; }
#buddypress .field-visibility-settings-toggle, #buddypress .field-visibility-settings-notoggle { margin-top: 0.75em; margin-bottom: 0.75em; font: 300 13px/1 "Poppins", "Roboto", "Arial", sans-serif; }
#buddypress .field-visibility-settings-close { display: inline-block; margin-bottom: 1.5em; }
#buddypress .field-visibility-settings, #buddypress .field-visibility-settings-toggle, #buddypress .field-visibility-settings-notoggle { color: #999; }
#buddypress .current-visibility-level { font-weight: 600; }
#buddypress .wp-editor-container { border: 1px solid #e6e6e6; }
#buddypress .wp-editor-container .quicktags-toolbar input[type=button] { font-weight: normal; letter-spacing: normal; border-color: currentColor; color: inherit; }

/* No JavaScript */
body.no-js #buddypress .field-visibility-settings { display: block; }
body.no-js #buddypress .field-visibility-settings-toggle, body.no-js #buddypress .field-visibility-settings-close { display: none; }

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/
.widget.buddypress .item-list { margin-right: 0; padding-right: 0; list-style: none; }
.widget.buddypress .item-list > li { clear: both; }
.widget.buddypress .item-avatar img.avatar { float: right; width: 40px; height: 40px; margin: 0 0 15px 10px; }
.widget.buddypress .item { margin: 0 0 15px 0; }
.widget.buddypress .item .item-meta, .widget.buddypress .item .item-content { margin-right: 50px; font-size: 13px; line-height: 1.25; }
.widget.buddypress .item .item-meta { font-family: "Poppins"; }
.widget.buddypress .item-options { font-size: 13px; font-family: "Poppins", sans-serif; margin: 0 0 1.5em; }
.widget.buddypress .item-options > a:not(.selected) { color: inherit; }

/* Login Widget */
.widget.buddypress #bp-login-widget-form label { display: block; margin: 1em 0 .125em; }
.widget.buddypress #bp-login-widget-form input[type=text], .widget.buddypress #bp-login-widget-form input[type=password] { width: 100%; }
.widget.buddypress #bp-login-widget-form .forgetmenot { margin: 0 0 1em; }
.widget.buddypress #bp-login-widget-form #bp-login-widget-submit { margin-left: 10px; }
.widget.buddypress #bp-login-widget-form .bp-login-widget-register-link { font-size: 14px; font-family: "Poppins"; font-weight: 500; text-transform: uppercase; letter-spacing: 0.2em; }

.widget_bp_core_login_widget .bp-login-widget-user-avatar { float: right; }
.widget_bp_core_login_widget .bp-login-widget-user-avatar img.avatar { height: 40px; width: 40px; }
.widget_bp_core_login_widget .bp-login-widget-user-links > div { padding-right: 50px; }
.widget_bp_core_login_widget .bp-login-widget-user-links > div.bp-login-widget-user-link a { font-weight: bold; }

/** BuddyPress */
.field-visibility-settings-notoggle { font-size: 0.83em; }

.avatar-block { font-size: 0; text-align: center; }
.avatar-block:after { display: table; clear: both; content: ""; }
.avatar-block .item-avatar { display: inline-block; margin-left: 5px; margin-bottom: 5px; vertical-align: top; font-size: 1rem; }
.avatar-block .item-avatar > a { display: block; }
.avatar-block .item-avatar img.avatar { display: block; width: 40px !important; height: 40px !important; float: none !important; margin: 0 !important; }

/* bp-core/css/avatar.css */
.bp-avatar-nav ul.avatar-nav-items li .bp-avatar-nav-item { padding: 6px 20px; font-family: "Poppins", "Roboto", sans-serif; font-size: 14px; font-weight: 700; text-transform: uppercase; color: inherit; }
.bp-avatar-nav ul.avatar-nav-items li.current { -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; }

#drag-drop-area { border-width: 2px; }

#group-admins, #group-mods { margin-right: 0; list-style: none; }
#group-admins:after, #group-mods:after { display: table; clear: both; content: ""; }
#group-admins li, #group-mods li { float: right; margin: 0 0 5px 5px; }

#item-header-content .activity { display: block; margin-bottom: 1.5rem; font-size: 0.83em; color: #999; }

#item-header { border-width: 0 0 1px; text-align: center; border-style: solid; border-color: #e6e6e6; }

@media only screen and (min-width: 801px) { #item-header { margin-bottom: 0; border-width: 0; text-align: right; } }
#item-buttons { display: flex; flex-wrap: wrap; margin-right: -5px; margin-bottom: 1.5rem; }
#item-buttons:empty { margin: 0; }
#item-buttons .generic-button { flex-grow: 1; margin-top: 5px; margin-right: 5px; }
#item-buttons .generic-button .g1-button { display: block; }
#item-buttons .friendship-button { width: 100%; }

#buddypress .button-nav { margin-right: 0; list-style: none; }
#buddypress .button-nav:after { display: table; clear: both; content: ""; }
#buddypress .button-nav li { float: right; margin: 0 0 10px 10px; }
#buddypress .button-nav li.current a { font-weight: bold; }
