@charset "UTF-8";
/** The whole CSS/SASS structure is based on the Inverted Triangle CSS methodology.  All CSS rules are grouped by type as follows: Positioning position z-index top right bottom left  Display & Box Model display box-sizing clear overflow width height padding margin border-width  Text font-family font-size line-height text-align  Color border-color background-color color opacity  Other content cursor   TABLE OF CONTENTS  1. Settings 1.1 Global  2. Tools 2.1 Functions 2.2 Mixins  3. Generic 3.1 Reset  4. Elements 4.1 Default 4.2 Forms  5. Objects 5.1 Grid 5.2 Fluid wrapper  6. Components */
/* 1.1 Reset
----------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, abbr, acronym, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border-width: 0; border-style: solid; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

/* 1.2 Default
----------------------------------------------------------------------------- */
body { background-color: #ffffff; }

ul { margin-right: 2em; list-style-type: circle; }

ol { margin-right: 2em; list-style-type: decimal; }

dl { margin-bottom: 1.5em; }

dt { font-weight: bold; }

dd { margin-bottom: 0.75em; }

pre, code, kbd, samp { font-family: "Lucida Console", Courier, "DejaVu Sans Mono", monospace, sans-serif; }

pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

code { font-family: monospace, serif; }

pre code { padding: 0.75em; display: block; border-width: 0; }

blockquote { min-height: 32px; padding: 0 22px; }

a { cursor: pointer; text-decoration: none; border-width: 0; border-style: solid; }

a:hover, a:active { outline: none; }

/* Avoid grey background in IE10 */
a:active { background: none; }

small { font-size: 11px; }
h1 small, h2 small, h3 small { font-size: 75%; }

strong { font-weight: bold; }

dfn, em, q, cite { font-weight: normal; font-style: italic; }

del { text-decoration: line-through; }

sub, sup { position: relative; font-size: 75%; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

h1 sub, h2 sub, h3 sub { font-size: 50%; bottom: 0; }
h1 sup, h2 sup, h3 sup { font-size: 50%; top: -0.75em; }

abbr, acronym { text-transform: uppercase; }

hr { border-width: 1px 0 0; margin: 1.5em 0; border-style: solid; opacity: 0.1667; }

/* ----->>> IMAGES <<<-------------------------------------------------------------------------- */
img { max-width: 100%; height: auto; }
#ie8 img { width: auto; }

video, embed, object, iframe { max-width: 100%; }

/* ----->>> TABLES <<<-------------------------------------------------------------------------- */
table { border-collapse: collapse; border-spacing: 0; }
table caption { width: 100%; padding: 6px 10px; }

th { font-weight: bold; vertical-align: bottom; }

td { font-weight: normal; vertical-align: top; }

/* --- Text highlighting ----------------------------------------------------------------------- */
ins { color: #333; background-color: #c1f7ff; }

mark { padding: 0 0.33em; }

figure { position: relative; margin-bottom: 1.5rem; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Hide the clear button of a text input control */
input::-ms-clear { display: none; }

input, select, button, textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; padding: 8px; border-width: 1px; font-size: 1rem; border-style: solid; border-color: #e6e6e6; background-color: transparent; color: inherit; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }

input[type=search] { -webkit-appearance: none; }

input[type=submit], input[type=reset], input[type=button], button { width: auto; padding: 7px 28px; border-width: 2px; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover { box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.333); }
input[type=submit]:active, input[type=reset]:active, input[type=button]:active, button:active { box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, 0.333); }

select { padding: 8px 8px 8px 24px; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAECAYAAACUY/8YAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADxJREFUeNpi+P//PwM2DAXyQHwPiP9jwfeh8gy4zACbQ8ACXJbADaeGBeiWoBhOLQtgluxFN5yQBQABBgDqaatIvFzXQwAAAABJRU5ErkJggg==); background-repeat: no-repeat; background-position: left center; }
select::-ms-expand { display: none; }

html.lt-ie10 select { padding: 8px; background-image: none; }

optgroup { font-weight: bold; }

textarea { width: 100%; }

/* Focus */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="reset"]:focus, input[type="search"]:focus, input[type="submit"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, button:focus, select:focus, textarea:focus { border-color: currentColor; }

/* Disabled */
button[disabled], input[disabled] { cursor: default; opacity: 0.666; }

/* Placeholder text - selectors need to be separate to work. */
::-webkit-input-placeholder { color: inherit; opacity: 0.33; }

::-moz-placeholder { color: inherit; opacity: 0.33; }

:-ms-input-placeholder { color: inherit; opacity: 0.33; }

/*  Grid System
----------------------------------------------------------------------------- */
/* Base */
.g1-row { clear: both; position: relative; width: 100%; min-height: 1px; margin-right: auto; margin-left: auto; /* Remove the space between inline-block elements */ letter-spacing: -0.31em; }
.g1-row:after { display: table; clear: both; content: ""; }
.g1-row .g1-row { width: auto; }

.g1-row-inner { position: relative; z-index: 1; max-width: 708px; margin-right: auto; margin-left: auto; font-size: 0; letter-spacing: normal; }

@media only screen and (min-width: 801px) { .g1-row-inner { max-width: 1182px; } }
.g1-row-background { overflow: hidden; position: absolute; z-index: -2; right: 0; left: 0; top: 0; bottom: 0; }

.g1-column { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto; min-height: 1px; position: relative; vertical-align: top; font-size: 1rem; }

.g1-column-background { position: absolute; z-index: -1; right: 0; left: 0; top: 0; bottom: 0; }

@media only screen and (max-width: 800px) { #secondary { margin-top: 30px; } }
@media only screen and (min-width: 801px) { .g1-column { display: inline-block; padding-right: 10px; padding-left: 10px; }
  /* Columns sizes */
  .g1-column-1of2 { width: 50%; }
  .g1-column-1of3 { width: 33.33333%; }
  .g1-column-2of3 { width: 66.66667%; }
  #secondary { padding-right: 20px; } }
@media only screen and (min-width: 1025px) { .g1-column { padding-right: 15px; padding-left: 15px; }
  #secondary { padding-right: 45px; } }
.g1-primary-max { width: 100%; }

.g1-row-padding-m { padding-top: 30px; padding-bottom: 30px; }

.g1-row-padding-l { padding-top: 30px; padding-bottom: 30px; }

@media only screen and (min-width: 801px) { .g1-row-padding-l { padding-top: 60px; padding-bottom: 60px; } }
/* Fluid (responsive) wrapper for iframes, objects, embeds */
.g1-fluid-wrapper { max-width: 100%; margin: 0 0 1.5em; }

.g1-fluid-wrapper-inner { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; }
.g1-fluid-wrapper-inner > iframe, .g1-fluid-wrapper-inner > object, .g1-fluid-wrapper-inner > embed { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.g1-fluid-wrapper-16x9 { width: 9999px; }

/* Vertical ads */
.g1-fluid-wrapper-300x600 { width: 300px; }
.g1-fluid-wrapper-300x600 > .g1-fluid-wrapper-inner { padding-bottom: 200%; }

/* Rectangle ads */
.g1-fluid-wrapper-300x250 { width: 300px; }
.g1-fluid-wrapper-300x250 > .g1-fluid-wrapper-inner { padding-bottom: 83.33333%; }

/* Horizontal ads */
.g1-fluid-wrapper-728x90 { width: 728px; }
.g1-fluid-wrapper-728x90 > .g1-fluid-wrapper-inner { padding-bottom: 12.36264%; }

.g1-fluid-wrapper-970x250 { width: 970px; }
.g1-fluid-wrapper-970x250 > .g1-fluid-wrapper-inner { padding-bottom: 25.7732%; }

#g1-breakpoint-desktop { min-width: 1024px; }

/* ----------------------------------------------------------------------------

3 . ELEMENTS

----------------------------------------------------------------------------- */
html { font-size: 15px; }

body, input, select, textarea, button { line-height: 1.5; font-family: "Roboto", "Arial", sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.g1-mega { font-size: 1.80203rem; line-height: 1.067; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; letter-spacing: -0.05em; }

h1, .g1-alpha { font-size: 1.60181rem; line-height: 1.067; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 600; letter-spacing: -0.05em; }

h2, .g1-beta { font-size: 1.42383rem; line-height: 1.125; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 600; letter-spacing: -0.025em; }

h3, .g1-gamma { font-size: 1.26563rem; line-height: 1.125; font-family: "Poppins", "Roboto", "Arial", sans-serif; letter-spacing: -0.025em; font-weight: 600; }

h4, .g1-delta { font-size: 1.125rem; line-height: 1.2; font-family: "Poppins", "Roboto", "Arial", sans-serif; letter-spacing: -0.025em; font-weight: 600; }

h5, .g1-epsilon { font-size: 14px; line-height: 18px; font-family: "Poppins", "Roboto", "Arial", sans-serif; letter-spacing: -0.025em; font-weight: 600; }

h6, .g1-zeta { font-size: 11px; line-height: 12px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 500; text-transform: uppercase; letter-spacing: normal; }

/* Large screen typography */
@media only screen and (min-width: 1025px) { h6, .g1-zeta { font-size: 11px; }
  h5, .g1-epsilon { font-size: 14px; }
  h4, .g1-delta { font-size: 1.175rem; }
  h3, .g1-gamma { font-size: 1.38063rem; }
  h2, .g1-beta { font-size: 1.62223rem; }
  h1, .g1-alpha, .g1lg-alpha { font-size: 1.90613rem; }
  .g1-mega { font-size: 2.63164rem; } }
.g1-mega-2nd, .g1-alpha-2nd, .g1-beta-2nd, .g1-gamma-2nd, .g1-delta-2nd, .g1-epsilon-2nd, .g1-zeta-2nd { font-family: "Poppins", "Roboto", "Arial", sans-serif; color: #999; font-weight: 700; letter-spacing: normal; text-transform: uppercase; }

.g1-mega-3rd, .g1-alpha-3rd, .g1-beta-3rd, .g1-gamma-3rd, .g1-delta-3rd, .g1-epsilon-3rd, .g1-zeta-3rd { font-weight: 300; letter-spacing: -0.025em; opacity: 0.5; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, ol, ul, table, legend, hr, figure { margin-bottom: 21px; margin-bottom: 1.5rem; }

.g1-typography-xl { font-size: 18px; line-height: 30px; }
.g1-typography-xl h1, .g1-typography-xl h2 { margin-top: 3rem; }
.g1-typography-xl h1:first-child, .g1-typography-xl h2:first-child, .g1-typography-xl .mashsb-main + h1, .g1-typography-xl .mashsb-main + h2 { margin-top: 0; }

/* =Button */
input[type="submit"], button, .g1-button { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; position: relative; z-index: 0; margin-left: 0.2px; /*IE8 inline-block fix*/ text-decoration: none; text-align: center; vertical-align: middle; zoom: 1; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out; -o-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out; -webkit-transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out; transition: border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out; /* Second line */ }
input[type="submit"] small, button small, .g1-button small { margin-top: 2px; display: block; font: 11px/14px Arial, sans-serif; font-weight: normal; letter-spacing: normal; opacity: 0.66; }

/* Extra small buttons */
.g1-button-xs { padding: 2px 9px; border-width: 1px; font-size: 11px; }

/* Small buttons */
.g1-button-s { padding: 5px 19px; border-width: 1px; font-size: 13px; }

/* Medium buttons */
.g1-button-m { padding: 8px 28px; border-width: 2px; }

/* Large buttons */
.g1-button-l { padding: 15px 37px; border-width: 3px; font-size: 20px; }
.g1-button-l .g1-button-icon { font-size: 21px; }

/* Extra large buttons */
.g1-button-xl { padding: 15px 37px; border-width: 3px; font-size: 30px; }
.g1-button-xl .g1-button-icon { font-size: 28px; }

/* Wide buttons */
.g1-button-wide { display: block; }

input[type=submit], input[type=reset], input[type=button], button, .g1-button { font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: normal; }

/* Search form */
.search-form { margin-bottom: 1.5rem; }
.search-form label { display: block; }
.search-form .screen-reader-text { position: absolute; clip: rect(1px, 1px, 1px, 1px); }
.search-form .search-field { width: 100%; }
.search-form .search-submit { position: absolute; clip: rect(1px, 1px, 1px, 1px); word-wrap: normal; }

blockquote { position: relative; padding: 2em 10px 0.5em; text-align: center; font-size: 24px; line-height: 30px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 300; letter-spacing: 0.025em; /* Open quote */ /* Borders */ }
blockquote:before { display: block; position: absolute; z-index: -1; right: 50%; left: auto; top: 20px; font-size: 60px; line-height: 1; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; cursor: default; vertical-align: bottom; content: "\201c"; }
blockquote:after { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; z-index: -1; right: 0; left: auto; top: 0; width: 100%; height: 100%; border-width: 6px 0 1px; border-style: solid; content: ""; opacity: 0.1666; }

@media only screen and (min-width: 1025px) { blockquote { padding-right: 3em; padding-left: 3em; } }
.g1-message { position: relative; margin-bottom: 1.5em; }

.g1-message-inner { padding: 1.5em 1.5em 1.5em 4.5em; text-align: right; }
.g1-message-inner:before { width: 32px; height: 32px; display: block; position: absolute; right: 20px; left: auto; margin-top: -16px; text-align: center; font: 14px/32px FontAwesome; border-width: 1px; border-style: solid; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

/* Color scheme */
.g1-message-success { background-color: #dff0d8; color: #468847; }
.g1-message-success > .g1-message-inner:before { content: "\f00c"; }

.g1-message-info { background-color: #d9edf7; color: #3a87ad; }
.g1-message-info > .g1-message-inner:before { content: "\f0eb"; }

.g1-message-warning { background-color: #fcf8e3; color: #c09853; }
.g1-message-warning > .g1-message-inner:before { content: "\f0a2"; }

.g1-message-error { background-color: #f2dede; color: #b94a48; }
.g1-message-error > .g1-message-inner:before { content: "\f0e7"; }

.avatar { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.wp-audio-shortcode { margin-bottom: 1.5em; }

.wp-video { margin-bottom: 1.5em; }

.gallery { font-size: 0; }

.gallery-item { display: inline-block; vertical-align: top; font-size: 1rem; }
.gallery-columns-1 .gallery-item { width: 100%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33.33333%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16.66667%; }
.gallery-columns-7 .gallery-item { width: 14.28571%; }
.gallery-columns-8 .gallery-item { width: 12.5%; }
.gallery-columns-9 .gallery-item { width: 11.11111%; }

/* --- Pagination, Page links ------------------------------------------------------------------ */
.g1-pagination { clear: both; margin-bottom: 2.25rem; font-size: 16px; font-family: "Poppins", "Roboto", "Arial", sans-serif; }
.g1-pagination ul { position: relative; margin: 0 -3px; list-style: none; text-align: center; }
.g1-pagination ul:after { display: table; clear: both; content: ""; }
.g1-pagination ul > li { display: inline-block; margin: 0; padding: 0 3px; vertical-align: middle; }
.g1-pagination ul > li > a { display: inline-block; padding: 0.25rem 10px; }
.g1-pagination ul > li > span { display: inline-block; padding: 0.25rem 10px; }
.g1-pagination ul > .g1-pagination-item > a { padding: 10px; font-size: 16px; line-height: 20px; }
.g1-pagination ul > .g1-pagination-item-current > span { padding: 10px; font-size: 16px; line-height: 20px; }

.g1-pagination-label { padding: 10px 0; text-align: center; font: 16px/20px "Poppins", "Roboto", "Arial", sans-serif; }

.g1-pagination-item-prev { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-left: 1em; /* lsaquo */ }
.g1-pagination-item-prev > .prev { display: block; }
.g1-pagination-item-prev > .prev:before { display: inline-block; margin-left: 0.33em; font-family: "bimber"; font-size: 28px; font-weight: normal; vertical-align: middle; content: "\e00d"; }

.g1-pagination-item-next { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 1em; /* rsaquo */ }
.g1-pagination-item-next > .next { display: block; }
.g1-pagination-item-next > .next:after { display: inline-block; margin-right: 0.33em; font-family: "bimber"; font-size: 28px; font-weight: normal; vertical-align: middle; content: "\e00b"; }

@media only screen and (max-width: 600px) { .g1-pagination-item-prev > .prev { font-size: 0; }
  .g1-pagination-item-prev > .prev:before { margin-left: 0; }
  .g1-pagination-item-next > .next { font-size: 0; }
  .g1-pagination-item-next > .next:after { margin-right: 0; } }
.g1-pagination-just-arrows .g1-pagination-item-prev > .prev { font-size: 0; }
.g1-pagination-just-arrows .g1-pagination-item-prev > .prev:before { margin-left: 0; }
.g1-pagination-just-arrows .g1-pagination-item-next > .next { font-size: 0; }
.g1-pagination-just-arrows .g1-pagination-item-next > .next:after { margin-right: 0; }

.g1-pagination-label-links { display: none; }

.g1-pagination-label-xofy { width: 33.333%; margin: 0 auto; position: absolute; right: 0; left: 0; }
.g1-pagination-label-xofy + ul .g1-pagination-item-prev { width: 33.333%; float: right; }
.g1-pagination-label-xofy + ul .g1-pagination-item-next { width: 33.333%; float: left; }
.g1-pagination-label-xofy + ul .g1-pagination-item, .g1-pagination-label-xofy + ul .g1-pagination-item-current { display: none; }

.g1-pagination-label-none { display: none; }
.g1-pagination-label-none + ul .g1-pagination-item-prev { width: 50%; float: right; }
.g1-pagination-label-none + ul .g1-pagination-item-next { width: 50%; float: left; }
.g1-pagination-label-none + ul .g1-pagination-item, .g1-pagination-label-none + ul .g1-pagination-item-current { display: none; }

/* =table */
table caption { font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 400; }
table th { font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; }

.g1-table { margin-bottom: 1.5em; overflow-x: auto; }
.g1-table caption { width: auto; padding: 2px 16px 10px 16px; font-size: 0.83em; }
.g1-table table { width: 100%; margin: 0; position: relative; border-collapse: separate; border-spacing: 0; }
.g1-table th { padding: 8px 16px; text-transform: uppercase; letter-spacing: 0.1em; }
.g1-table td { padding: 8px 16px; }
.g1-table thead th { padding-top: 1.25em; padding-bottom: 1.25em; text-align: left; }

/* Simple style */
.g1-table-simple table { border-width: 0 0 2px; }
.g1-table-simple thead th { border-width: 2px 0; }
.g1-table-simple tbody td { border-width: 0 0 1px 0; }
.g1-table-simple tfoot td { border-width: 1px 0 0; }

/* Solid style */
.g1-table-solid { padding: 4px; }
.g1-table-solid thead th { border-width: 1px 1px 1px 0; }
.g1-table-solid thead th:first-child { border-width: 1px 1px 1px 1px; }
.g1-table-solid tfoot td, .g1-table-solid tfoot th, .g1-table-solid tbody td, .g1-table-solid tbody th { border-width: 0 1px 1px 0; }
.g1-table-solid tfoot td:first-child, .g1-table-solid tfoot th:first-child, .g1-table-solid tbody td:first-child, .g1-table-solid tbody th:first-child { border-width: 0 1px 1px 1px; }

@media only screen and (max-width: 600px) { .g1-table { margin: 0 0 1.5em 0; overflow-x: scroll; border-style: dotted solid; border-width: 3px; }
  .g1-table table { width: auto; margin: 0; white-space: nowrap; }
  .g1-table caption { text-align: left; } }
/* Color Scheme */
table, th, td { border-color: #e6e6e6; }

.mc4wp-form label { display: block; }

.g1-newsletter .mc4wp-form input[type=text], .g1-newsletter .mc4wp-form input[type=email], .g1-newsletter .mc4wp-form input[type=select] { width: 100%; }
.g1-newsletter .mc4wp-form input[type=submit] { display: block; width: 100%; }

.g1-newsletter-privacy { margin-top: -0.25em; font-size: 12px; line-height: 14px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 400; opacity: 0.666; }

.g1-box .mc4wp-form-fields label { position: absolute; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; overflow: hidden; }
.g1-box .mc4wp-form-fields p { margin-bottom: 0.75em; }

.g1-newsletter-horizontal { margin-top: 3em; margin-bottom: 3em; }
.g1-newsletter-horizontal .g1-mega + .g1-delta { margin-top: -1.5rem; }

@media only screen and (min-width: 481px) { .g1-newsletter-horizontal .mc4wp-form-fields { display: flex; flex-wrap: wrap; max-width: 561px; margin-right: auto; margin-left: auto; }
  .g1-newsletter-horizontal .mc4wp-form-fields input[type=email] { text-align: right; }
  .g1-newsletter-horizontal .mc4wp-form-fields p { display: inline-block; vertical-align: top; margin-right: 5px; margin-left: 5px; }
  .g1-newsletter-horizontal .mc4wp-form-fields p:first-child { flex: 1 1 auto; } }
.g1-back-to-top { display: block; visibility: hidden; width: 32px; height: 32px; overflow: hidden; position: fixed; left: 10px; right: auto; bottom: 10px; z-index: 999; text-indent: 100%; white-space: nowrap; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; background: #000000; color: #ffffff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-transition: opacity 0.375s ease-in-out; -o-transition: opacity 0.375s ease-in-out; -webkit-transition: opacity 0.375s ease-in-out; transition: opacity 0.375s ease-in-out; }
.g1-back-to-top:before { display: block; position: absolute; top: 50%; right: 0; left: auto; width: 100%; margin-top: -0.5em; text-indent: 0; text-align: center; font: 24px/1 "bimber"; content: "\e00f"; }
.g1-back-to-top:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; background: #000000; color: #ffffff; }

@media only screen and (min-width: 801px) { .g1-back-to-top { width: 40px; height: 40px; } }
.cssanimations .g1-back-to-top-on { display: block; visibility: visible; -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); -moz-transition: -moz-transform 0.35s ease-in-out; -o-transition: -o-transform 0.35s ease-in-out; -webkit-transition: -webkit-transform 0.35s ease-in-out; transition: transform 0.35s ease-in-out; -webkit-backface-visibility: hidden; }
.cssanimations .g1-back-to-top-off { visibility: hidden; -moz-transform: translate(0px, 80px); -ms-transform: translate(0px, 80px); -webkit-transform: translate(0px, 80px); transform: translate(0px, 80px); -moz-transition: visibility 0s 0.35s, -moz-transform 0.35s ease-in-out; -o-transition: visibility 0s 0.35s, -o-transform 0.35s ease-in-out; -webkit-transition: visibility 0s, -webkit-transform 0.35s ease-in-out; -webkit-transition-delay: 0.35s, 0s; transition: visibility 0s 0.35s, transform 0.35s ease-in-out; }

/* ----------------------------------------------------------------------------

4 . MODULES

----------------------------------------------------------------------------- */
.sticky { /* Sticky*/ }

.bypostauthor { /* By post author */ }

.entry-featured-media img { width: 100%; }

.entry-title > a { color: inherit; }

.entry-title + .entry-subtitle { margin-top: -0.75em; }

/* Entry categories */
.entry-category { display: inline-block; position: relative; margin-left: 1px; margin-top: 1px; font-size: 13px; line-height: 1; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 600; text-transform: uppercase; pointer-events: auto; color: #333; text-shadow: none; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }
.entry-categories-solid .entry-category { padding: 3px 9px; border-width: 1px; font-size: 13px; line-height: 1; border-style: solid; border-color: #e6e6e6; background-color: #e6e6e6; color: #000; }

.entry-categories { margin: 0 0 24px; margin: 0 0 1.5rem; font-size: 0; }

.entry-categories-inner { display: block; margin-top: -1px; }

/* Entry tags */
.entry-tag { display: inline-block; margin-left: 8px; font-size: 14px; font-family: "Poppins", "Roboto", "Arial", sans-serif; letter-spacing: 0.05em; font-weight: 400; vertical-align: top; text-transform: uppercase; color: inherit; }
.entry-tag:before { content: "#"; }

.entry-author { display: block; margin-left: 10px; }
.entry-author .avatar { float: right; margin-left: 10px; }

.entry-date { display: inline-block; vertical-align: top; }

.entry-comments-link { display: inline-block; vertical-align: top; pointer-events: auto; }
.entry-comments-link a { display: inline-block; position: relative; }
.entry-comments-link a:before { margin-left: 4px; font: 14px/1 "bimber"; vertical-align: middle; content: "\e010"; opacity: 0.1667; }
.entry-comments-link a > span { clip: rect(1px, 1px, 1px, 1px); position: absolute; height: 1px; width: 1px; overflow: hidden; }

.entry-shares { display: inline-block; margin-left: 8px; vertical-align: top; }
.entry-shares:before { margin-left: 4px; font: 14px/1 "bimber"; vertical-align: middle; content: "\e011"; }

.entry-views { display: inline-block; margin-left: 8px; vertical-align: top; }
.entry-views:before { margin-left: 4px; font: 14px/1 "bimber"; vertical-align: middle; content: "\e014"; }

@media only screen and (min-width: 801px) { .entry-shares:before, .entry-views:before, .entry-comments-link a:before { margin-left: 8px; } }
.entry-meta-m .entry-views { vertical-align: middle; }
.entry-meta-m .entry-views:before { font-size: 32px; line-height: 1; color: #ccc; }
.entry-meta-m .entry-views-popular:before { content: "\e015"; color: #ff577b; }
.entry-meta-m .entry-views-popular strong { color: #ff577b; }
.entry-meta-m .entry-views-hot:before { content: "\e01c"; color: #ff0036; }
.entry-meta-m .entry-views-hot strong { color: #ff0036; }
.entry-meta-m .entry-views-trending:before { content: "\e00e"; color: #bf0029; }
.entry-meta-m .entry-views-trending strong { color: #bf0029; }
.entry-meta-m .entry-comments-link a:before { font-size: 24px; line-height: 32px; }

.entry-meta { font-size: 13px; line-height: 15px; font-family: "Poppins", "Roboto", "Arial", sans-serif; letter-spacing: normal; }
.entry-meta strong { font-weight: 400; }

.entry-meta-wrap { display: block; }
.entry-meta-wrap:after { display: table; clear: both; content: ""; }
.entry-meta-wrap .entry-date { display: block; }

.entry-meta-stats { display: inline-block; clear: both; position: relative; z-index: 6; margin-bottom: 0.75rem; padding: 3px 0 3px 10px; font-size: 13px; line-height: 15px; }

.entry-meta-byline:after { clear: both; display: table; content: ""; }

.entry-meta-m { margin-bottom: 0.75rem; font-size: 16px; font-weight: 300; line-height: 18px; /* Clearfix */ }
.entry-meta-m:after { display: table; clear: both; content: ""; }
.entry-meta-m strong { font-weight: 600; }
.entry-meta-m .entry-date { font-size: 13px; white-space: nowrap; }
.entry-meta-m .entry-meta-wrap { margin-left: 10px; margin-bottom: 0.75rem; }

@media only screen and (min-width: 481px) { .entry-meta-m .entry-meta-wrap { float: right; }
  .entry-meta-m .entry-meta-wrap + .entry-meta-wrap { float: left; } }
.entry-before-title:after { display: table; clear: both; content: ""; }
.entry-before-title .entry-meta-stats, .entry-before-title .entry-categories { float: right; margin-bottom: 0; }

.entry-flags { pointer-events: none; margin-bottom: 10px; }
.has-post-thumbnail > .entry-flags { position: absolute; z-index: 1; }
.entry-flags:after { display: table; clear: both; content: ""; }

.entry-flag { display: none; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 40px; height: 40px; border-width: 1px; border-style: solid; font-size: 0; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border-color: #ff0036; background-color: #ff0036; color: #fff; }
.entry-flag:before { font-size: 24px; line-height: 40px; font-family: "bimber"; font-weight: normal; content: ""; }

.entry-flag:first-child { display: block; }

.entry-flag-popular { border-color: #ff577b; background-color: #ff577b; color: #fff; }
.entry-flag-popular:before { line-height: 37px; content: "\e015"; }

.entry-flag-hot:before { line-height: 38px; content: "\e01c"; }

.entry-flag-trending { border-color: #bf0029; background-color: #bf0029; color: #fff; }
.entry-flag-trending:before { content: "\e00e"; }

.jsgif canvas { display: block; }

.entry-content img.aligncenter, .entry-summary img.aligncenter { width: 100%; }
.entry-content .aligncenter, .entry-summary .aligncenter { width: 100% !important; }
.entry-content .aligncenter img, .entry-content .aligncenter canvas, .entry-summary .aligncenter img, .entry-summary .aligncenter canvas { width: 100%; }
.entry-content video, .entry-summary video { width: 100%; margin-bottom: 100px; }

.entry-header-row { padding-top: 20px; }
.entry-header-row > .g1-row-background { border-width: 0 0 1px 0; border-style: solid; border-color: #e6e6e6; }
.entry-header-row .entry-title { margin-bottom: 20px; }
.entry-header-row .entry-subtitle { margin-top: -20px; margin-bottom: 20px; }

.entry-tpl-grid { position: relative; }
.entry-tpl-grid .entry-flags { right: 10px; left: auto; top: -10px; }
.entry-tpl-grid .entry-featured-media { margin-bottom: 0; }
.entry-tpl-grid .entry-header { position: relative; }
.entry-tpl-grid .entry-before-title { font-size: 0; }
.entry-tpl-grid .entry-featured-media + .entry-body .entry-header .entry-before-title { position: absolute; right: 0; left: auto; bottom: 100%; }
.entry-tpl-grid .entry-meta-stats { display: inline-block; margin-top: 0; margin-bottom: 0; font-size: 13px; }
.entry-tpl-grid .entry-categories { display: inline-block; margin-top: 0; margin-bottom: 0; font-size: 13px; line-height: 13px; }
.entry-tpl-grid .entry-title { padding-top: 0.75em; margin-bottom: 0.75em; }

.entry-tpl-grid-fancy { text-align: center; counter-increment: g1-collection-item-counter; }
.entry-tpl-grid-fancy .entry-counter { display: table; position: relative; z-index: 1; min-width: 20px; margin-right: auto; margin-left: auto; font-size: 14px; line-height: 20px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 500; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.entry-tpl-grid-fancy .entry-counter:before { content: counter(g1-collection-item-counter); }
@media only screen and (min-width: 1025px) { .entry-tpl-grid-fancy .entry-counter { min-width: 20px; font-size: 14px; line-height: 20px; } }
.entry-tpl-grid-fancy .entry-featured-media { margin-top: -10px; }
@media only screen and (min-width: 1025px) { .entry-tpl-grid-fancy .entry-featured-media { margin-top: -10px; } }
.entry-tpl-grid-fancy .entry-body { padding-right: 15px; padding-left: 15px; }

.entry-tpl-gridxs .entry-featured-media { margin-bottom: 0.5rem; }
.entry-tpl-gridxs .entry-header { margin-top: 0.5rem; padding: 0 10px; }
.entry-tpl-gridxs .entry-title { margin-bottom: 15px; }

@media only screen and (min-width: 1025px) { .entry-tpl-classic .entry-content, .entry-tpl-classic .entry-summary { padding-right: 48px; padding-left: 48px; }
  .entry-tpl-classic .entry-content .g1-pagination, .entry-tpl-classic .entry-content .mashsb-container, .entry-tpl-classic .entry-summary .g1-pagination, .entry-tpl-classic .entry-summary .mashsb-container { margin-right: -48px; margin-left: -48px; }
  .entry-tpl-classic .entry-content .quads-location, .entry-tpl-classic .entry-summary .quads-location { margin-right: -48px !important; margin-left: -48px !important; } }
@media only screen and (min-width: 600px) { .entry-tpl-list { position: relative; max-width: 730px; }
  .entry-tpl-list .entry-featured-media { float: right; width: 50%; max-width: 360px; }
  .entry-tpl-list .entry-before-title { position: static !important; }
  .entry-tpl-list .entry-body { overflow: hidden; }
  .entry-tpl-list .entry-featured-media + .entry-body { padding-right: 20px; } }
@media only screen and (min-width: 1025px) { .entry-tpl-list .entry-featured-media + .entry-body { padding-right: 30px; } }
@media only screen and (min-width: 600px) { .entry-tpl-list-fancy { position: relative; max-width: 758px; text-align: right; }
  .entry-tpl-list-fancy .entry-counter { width: 40px; height: 40px; position: absolute; right: 10px; left: auto; top: -10px; line-height: 40px; font-size: 18px; }
  .entry-tpl-list-fancy .entry-featured-media { margin-top: 0; float: right; width: 50%; max-width: 360px; }
  .entry-tpl-list-fancy .entry-before-title { position: static !important; }
  .entry-tpl-list-fancy .entry-body { overflow: hidden; }
  .entry-tpl-list-fancy .entry-featured-media + .entry-body { padding-right: 20px; } }
@media only screen and (min-width: 1025px) { .entry-tpl-list-fancy .entry-featured-media + .entry-body { padding-right: 30px; } }
.entry-tpl-tile { position: relative; background: #000; }
.entry-tpl-tile .entry-featured-media { position: relative; width: 100%; margin: 0; background-repeat: no-repeat; background-size: cover; }
.entry-tpl-tile .entry-before-title { margin-bottom: 0.5rem; }
.entry-tpl-tile .entry-title { margin-bottom: 0; }
.entry-tpl-tile .entry-categories { display: inline-block; }
.entry-tpl-tile .entry-header { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; z-index: 1; right: 0; left: auto; bottom: 0; width: 100%; padding: 15px 10px; pointer-events: none; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75))); background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 100%); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 100%); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 100%); }

@media only screen and (min-width: 1025px) { .entry-tpl-tile .entry-header { padding: 20px 30px; padding: 60px 30px 20px; } }
.entry-tpl-tile-xl .entry-featured-media .g1-frame-inner { padding-bottom: 56.25%; }

.g1-collection { clear: both; max-width: 1152px; margin: 0 auto; }

.g1-collection-viewport { clear: both; margin-right: -10px; margin-left: -10px; }

.g1-collection-items { clear: both; list-style: none; font-size: 0; }

.g1-collection-item { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0 0 30px; padding: 0 10px; vertical-align: top; font-size: 1rem; }

.g1-collection-item-1of3 { width: 100%; }

@media only screen and (min-width: 709px) and (max-width: 1024px) { .g1-collection-item-1of3 { width: 50%; } }
@media only screen and (min-width: 1025px) { .g1-collection-viewport { margin-right: -15px; margin-left: -15px; }
  .g1-collection-item { padding: 0 15px; }
  .g1-collection-columns-2 .g1-collection-item { width: 50%; }
  .g1-collection-columns-3 .g1-collection-item { width: 33.33333%; } }
@-webkit-keyframes g1-collection-more-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
@keyframes g1-collection-more-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
.g1-collection-more { overflow: hidden; position: relative; margin-bottom: 1.5em; padding: 0 15px; text-align: center; }
.g1-collection-more .g1-button { max-width: 100%; width: 364px; }
.g1-collection-more .bimber-spinner { display: none; position: absolute; right: 50%; left: auto; top: 50%; margin-top: -0.5em; margin-right: -0.5em; font-size: 21px; -webkit-animation: g1-collection-more-spin 2s infinite linear; animation: g1-collection-more-spin 2s infinite linear; }

.g1-collection-more-inner { display: inline-block; position: relative; max-width: 100%; }
.g1-collection-more-inner:before { display: block; width: 999px; height: 0; border-width: 1px 0 0; margin-left: 20px; position: absolute; left: 100%; right: auto; top: 50%; border-style: solid; content: ""; opacity: 0.1667; }
.g1-collection-more-inner:after { display: block; width: 999px; height: 0; border-width: 1px 0 0; margin-right: 20px; position: absolute; right: 100%; left: auto; top: 50%; border-style: solid; content: ""; opacity: 0.1667; }

.g1-collection-more-loading .g1-button { visibility: hidden; }
.g1-collection-more-loading .bimber-spinner { display: block; }

.g1-collection-items { counter-reset: g1-collection-item-counter; }

.g1-collection-numbered .g1-collection-item { margin-bottom: 0.5rem; }

.g1-related-entries { margin: 3rem 0; }

.g1-dont-miss { margin-top: 60px; }

.g1-hot-content, .g1-trending-content, .g1-popular-content { margin-bottom: 3rem; }

.g1-featured-row { border-width: 0 0 1px; border-style: solid; border-color: #e6e6e6; }
.g1-featured-row > .g1-row-inner { max-width: 1182px; }

.g1-featured { position: relative; margin-right: -10px; margin-left: -10px; }

@media only screen and (min-width: 1183px) { .g1-featured { margin-right: auto; margin-left: auto; } }
/* Arrow navigation */
.g1-featured-arrow { display: none; overflow: hidden; width: 20px; position: absolute; z-index: 1; right: 0; left: auto; top: 0; bottom: -1px; text-indent: 100%; text-align: center; white-space: nowrap; background-color: #333; background-color: rgba(0, 0, 0, 0.666); color: #fff; }
.g1-featured-arrow:before { display: block; margin-top: -0.5em; position: absolute; right: 0; left: 0; top: 50%; bottom: 0; font: 18px/1 "bimber"; text-indent: 0; content: ""; }

.g1-featured-arrow-next { left: 0; right: auto; }
.g1-featured-arrow-next:before { content: ""; }

.g1-hoverable .g1-featured:hover .g1-featured-arrow { display: block; }
.g1-hoverable .g1-featured-viewport-start:hover .g1-featured-arrow-prev { display: none; }
.g1-hoverable .g1-featured-viewport-end:hover .g1-featured-arrow-next { display: none; }

@media only screen and (min-width: 1141px) { .g1-hoverable .g1-featured:hover .g1-featured-arrow { display: none; } }
.g1-featured-title { overflow: hidden; position: absolute; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; margin: 0.75em 0; }

/* Fade indicators */
.g1-featured-fade { display: block; visibility: visible; position: absolute; top: 0; right: 0; left: auto; width: 10px; height: 100%; opacity: 1; -moz-transition: opacity 0.375s ease-in-out; -o-transition: opacity 0.375s ease-in-out; -webkit-transition: opacity 0.375s ease-in-out; transition: opacity 0.375s ease-in-out; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zMzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.333))); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); }

.g1-featured-fade-after { left: 0; right: auto; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zMzMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.333))); background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); }

.g1-featured-viewport-start .g1-featured-fade-before { opacity: 0; }

.g1-featured-viewport-end .g1-featured-fade-after { opacity: 0; }

@media only screen and (min-width: 720px) { .g1-featured-fade { width: 20px; } }
.g1-hoverable .g1-featured-fade { display: none; }

@media only screen and (min-width: 1141px) { .g1-featured .g1-featured-fade { display: none; } }
.g1-featured-items { position: relative; margin: 0 auto; list-style: none; overflow-y: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; white-space: nowrap; font-size: 0; letter-spacing: normal; }

.g1-featured-item { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 50%; width: 192px; margin: 0; vertical-align: top; font-size: 1rem; white-space: normal; }

.g1-featured-no-results { margin-top: 22px; margin-top: 1.5rem; }

.g1-mosaic { position: relative; margin-bottom: 30px; }
.g1-mosaic:after { display: table; clear: both; content: ""; }

.archive-featured-row { padding-top: 10px; }
.archive-featured-row .g1-mosaic { margin-bottom: 0; }

@media only screen and (min-width: 709px) { .archive-featured-row { padding-top: 30px; } }
.archive-featured-title { display: block; padding: 10px 10px; margin-bottom: 0; background-color: #f2f2f2; }

@media only screen and (min-width: 709px) { .archive-featured-title { position: absolute; z-index: 1; right: 45px; top: -20px; padding: 20px 20px; text-align: center; }
  .archive-featured-title span { display: block; } }
@media only screen and (max-width: 800px) { .archive-featured-title { margin-right: -10px; margin-left: -10px; } }
@media only screen and (max-width: 708px) { .g1-mosaic { margin-right: -10px; margin-left: -10px; } }
@media only screen and (min-width: 709px) and (max-width: 1024px) { .g1-mosaic-item-2 { float: right; width: 50%; }
  .g1-mosaic-item-3 { float: right; width: 50%; } }
@media only screen and (min-width: 1025px) { .g1-mosaic-item-1 { width: 66.6666%; width: calc( (100% - 15px)/3*2); }
  .g1-mosaic-item-2 { position: absolute; left: 0; right: auto; top: 0; width: 33.3333%; width: calc( (100% - (100% - 15px)/3*2) ); height: 50%; background: #000; }
  .g1-mosaic-item-2 .entry-tpl-tile { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; }
  .g1-mosaic-item-2 .entry-tpl-tile .entry-featured-media { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; }
  .g1-mosaic-item-2 .entry-tpl-tile .entry-featured-media img { display: none; }
  .g1-mosaic-item-2 .entry-tpl-tile .g1-frame { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; }
  .g1-mosaic-item-3 { position: absolute; left: 0; right: auto; bottom: 0; width: calc( (100% - (100% - 15px)/3*2) ); height: 50%; }
  .g1-mosaic-item-3 .entry-tpl-tile { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; }
  .g1-mosaic-item-3 .entry-tpl-tile .entry-featured-media { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; }
  .g1-mosaic-item-3 .entry-tpl-tile .entry-featured-media img { display: none; }
  .g1-mosaic-item-3 .entry-tpl-tile .g1-frame { position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; } }
.widget_archive ul, .widget_categories ul, .widget_meta ul, .widget_pages ul { margin: 0; padding: 0; list-style: none; }
.widget_archive ul a, .widget_categories ul a, .widget_meta ul a, .widget_pages ul a { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; width: 100%; color: inherit; /* right arrow */ /* clearfix */ }
.widget_archive ul a:before, .widget_categories ul a:before, .widget_meta ul a:before, .widget_pages ul a:before { width: 18px; display: inline-block; font-size: 14px; font-family: "bimber"; content: "\e00b"; }
.widget_archive ul a:after, .widget_categories ul a:after, .widget_meta ul a:after, .widget_pages ul a:after { display: table; clear: both; content: ""; }
.widget_archive ul a .g1-meta, .widget_categories ul a .g1-meta, .widget_meta ul a .g1-meta, .widget_pages ul a .g1-meta { float: right; opacity: 0.666; }
.widget_archive ul a:hover, .widget_categories ul a:hover, .widget_meta ul a:hover, .widget_pages ul a:hover { color: #000; }
.widget_archive > ul, .widget_categories > ul, .widget_meta > ul, .widget_pages > ul { margin-bottom: 1.5rem; }
.widget_archive ul ul, .widget_categories ul ul, .widget_meta ul ul, .widget_pages ul ul { margin-top: 0.75em; margin-bottom: 0.75em; }
.widget_archive ul ul a, .widget_categories ul ul a, .widget_meta ul ul a, .widget_pages ul ul a { padding-right: 18px; }
.widget_archive ul ul ul a, .widget_categories ul ul ul a, .widget_meta ul ul ul a, .widget_pages ul ul ul a { padding-right: 36px; }

.widget_recent_entries ul { margin-right: 0; margin-left: 0; list-style: none; }
.widget_recent_entries li { margin-bottom: 0.666em; font-size: 15px; line-height: 20px; }
.widget_recent_entries li > a { color: #333; }
.widget_recent_entries li > a:hover { color: #ff0036; }
.widget_recent_entries li > .post-date { display: block; font-size: 13px; font-family: "Poppins", "Roboto", "Arial", sans-serif; color: #999; }

#wp-calendar { table-layout: fixed; position: relative; max-width: 350px; width: 100%; border-top-width: 3px; border-style: solid; }
#wp-calendar caption { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 0 0.375rem 45px; text-align: right; }
#wp-calendar table { width: 100%; }
#wp-calendar th { padding-top: 0.75em; padding-bottom: 0.75em; text-align: center; }
#wp-calendar td { padding-top: 0.75em; padding-bottom: 0.75em; text-align: center; }
#wp-calendar tbody td { border-width: 1px; border-style: solid; border-color: #e6e6e6; }
#wp-calendar tfoot { position: absolute; left: 0; right: auto; top: 0; width: 40px; height: 1.5em; }
#wp-calendar #prev { display: block; position: absolute; right: 0; left: auto; top: 0; width: 50%; height: 100%; font-size: 0; }
#wp-calendar #prev > a, #wp-calendar #prev > span { display: block; width: 100%; height: 100%; }
#wp-calendar #prev > a:before, #wp-calendar #prev > span:before { display: block; position: absolute; top: 50%; width: 100%; margin-top: -0.5em; text-align: right; font: 21px/1 "bimber"; content: ""; }
#wp-calendar #prev > span { opacity: 0.2; }
#wp-calendar #next { display: block; position: absolute; left: 0; right: auto; top: 0; width: 50%; height: 100%; font-size: 0; }
#wp-calendar #next > a, #wp-calendar #next > span { display: block; width: 100%; height: 100%; }
#wp-calendar #next > a:before, #wp-calendar #next > span:before { display: block; position: absolute; top: 50%; width: 100%; margin-top: -0.5em; text-align: left; font: 21px/1 "bimnber"; content: ""; }
#wp-calendar #next > span { opacity: 0.2; }

.tagcloud { margin-bottom: 1.5rem; }
.tagcloud:after { display: table; clear: right; content: ""; }
.tagcloud > a { display: block; position: relative; float: right; margin: 0 0 6px 6px; padding: 7px 9px 6px; font-size: 13px !important; line-height: 1.125; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: normal; color: inherit; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }
.tagcloud > a:before { margin-left: 0.25em; content: "#"; }
.tagcloud > a:after { display: block; position: absolute; right: 0; left: 0; top: 0; bottom: 0; border-width: 1px; border-style: solid; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; content: ""; opacity: 0.1666; -moz-transition: opacity 0.375s ease-in-out; -o-transition: opacity 0.375s ease-in-out; -webkit-transition: opacity 0.375s ease-in-out; transition: opacity 0.375s ease-in-out; }
.tagcloud > a:hover:after { opacity: 1; }

ul#recentcomments { margin-right: 0; margin-left: 0; list-style: none; }
ul#recentcomments li.recentcomments { position: relative; margin-bottom: 1em; padding-right: 20px; }
@media only screen and (min-width: 1025px) { ul#recentcomments li.recentcomments { padding-right: 30px; } }
ul#recentcomments li.recentcomments:before { position: absolute; right: 0; left: auto; top: 0; font-size: 18px; font-family: "bimber"; font-weight: normal; vertical-align: middle; content: "\e010"; opacity: 0.333; }
ul#recentcomments li.recentcomments .comment-author-link { font-size: 13px; font-family: "Poppins", "Roboto", "Arial", sans-serif; }
ul#recentcomments li.recentcomments .comment-author-link .url { color: #666; }
ul#recentcomments li.recentcomments .comment-author-link .url:hover { color: #333; }
ul#recentcomments li.recentcomments > a { display: block; font-size: 1rem; font-size: 15px; line-height: 20px; color: #333; }

.widget_archive select, .widget_categories select { width: 100%; }

.widget_rss ul { margin-right: 0; list-style: none; }
.widget_rss ul li { margin-bottom: 1.5rem; }
.widget_rss ul li a.rsswidget { display: block; margin-bottom: 0.25em; font-size: 1.17em; line-height: 1.125; }
.widget_rss ul li .rssSummary { margin-bottom: 0.75em; }
.widget_rss ul li .rss-date, .widget_rss ul li .rssSummary + cite { display: block; margin-bottom: 0.75em; font: 13px/1.125 "Poppins", "Roboto", "Arial", sans-serif; opacity: 0.666; }

#secondary .widget { margin-bottom: 3rem; }
#secondary .widget > header { overflow: hidden; text-align: center; }
#secondary .widget > header .widgettitle { display: inline-block; padding: 0 20px; position: relative; }
#secondary .widget > header .widgettitle:before { display: block; width: 500px; height: 0; border-width: 1px 0 0; position: absolute; left: 100%; right: auto; top: 50%; border-style: solid; content: ""; opacity: 0.1667; }
#secondary .widget > header .widgettitle:after { display: block; width: 500px; height: 0; border-width: 1px 0 0; position: absolute; right: 100%; left: auto; top: 50%; border-style: solid; content: ""; opacity: 0.1667; }

#comments { margin: 0 0 4.5em; }

.comments-title + .g1-button { width: 100%; margin-bottom: 1.5rem; }

.comment-list { clear: both; margin: 0 0 1.5rem; list-style: none; }
.comment-list .children { margin: 0; list-style: none; }

.comment { position: relative; }

.comment-body { padding: 0.75em 0 1.5em; }

.comment-meta { margin-bottom: 0.25em; font-size: 16px; line-height: 18px; font-family: "Poppins", "Roboto", "Arial", sans-serif; color: #999; }
.comment-meta .says { display: none; }
.comment-meta b { font-weight: 600; }
.comment-meta b > a { color: #000; }
.comment-meta a { color: #666; }

.comment-author { display: block; margin-left: 0.75em; text-align: right; }
.comment-author .g1-epsilon { font-size: 16px; }
.comment-author > .avatar { display: block; position: absolute; right: 0; left: auto; top: 0; }

.comment-metadata { display: inline-block; font-family: "Poppins", "Roboto", "Arial", sans-serif; text-align: right; }
.comment-metadata time { font-size: 13px; }

.comment-edit-link { margin-right: 1.5em; font-size: 13px; }

.reply { margin-top: -1.25em; font-size: 13px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 400; }
.reply a { color: #999; }

.comment-list .children { margin-right: 10px; }
.comment-list .children .comment-author .g1-epsilon { font-size: 13px; }

.comment-form .g1-fake-avatar { display: none; position: relative; overflow: hidden; width: 40px; height: 40px; margin-bottom: 20px; cursor: default; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.comment-form .g1-fake-avatar:before { display: block; position: absolute; z-index: 1; right: 0; left: auto; top: 0; width: 100%; height: 100%; content: ""; background: currentColor; opacity: 0.1666; }
.comment-form .g1-fake-avatar:after { display: inline-block; position: relative; z-index: 2; right: 1px; left: auto; top: 5px; text-align: center; font: 40px/1 "bimber"; content: "\e013"; opacity: 0.333; }
.comment-form label { display: block; }
.comment-form > p { margin-bottom: 20px; }
.comment-form #author, .comment-form #email, .comment-form #url { width: 100%; }
.comment-form .comment-form-author label, .comment-form .comment-form-email label, .comment-form .comment-form-url label, .comment-form .comment-form-comment label { clip: rect(1px, 1px, 1px, 1px); position: absolute; width: 1px; height: 1px; overflow: hidden; }

@media only screen and (min-width: 801px) { .comment-form { position: relative; padding-right: 55px; }
  .comment-form > .g1-fake-avatar, .comment-form > .avatar { display: block; position: absolute; right: 0; left: 0; }
  .comment-form #author, .comment-form #email, .comment-form #url { width: auto; min-width: 50%; } }
@media only screen and (max-width: 800px) { .comment-meta { position: relative; min-height: 40px; padding-right: 50px; }
  .children .comment-meta { padding-right: 40px; } }
@media only screen and (min-width: 801px) { .comments-title { float: right; }
  .comments-title + .g1-button { width: auto; float: left; }
  .comment { padding-right: 55px; }
  .comment-author { display: inline-block; }
  .comment-author .avatar { position: absolute; right: 0; left: auto; }
  .comment-list .children { margin-right: 0; }
  .comment-list .children .comment { padding-right: 40px; }
  .comment-list .children .comment-meta { padding-right: 0; } }
/** Add some empty space before the target element.  This way sticky elements won't cover it */
#comments:target:before { display: block; height: 120px; content: ""; }

#respond .snax-wpsl .wp-social-login-connect-with { display: none; }

.author-info { position: relative; margin-bottom: 30px; padding: 30px 0 0; }
.author-info:before { display: block; position: absolute; right: 0; left: auto; top: 0; width: 100%; height: 100%; content: ""; background: currentColor; opacity: 0.0833; }
.author-info:after { display: table; clear: both; content: ""; }
.author-info .author-info-inner { position: relative; }
.author-info .author-avatar { position: absolute; right: 10px; left: auto; top: 0; width: 40px; height: 40px; margin: 0; }
.author-info .author-overview { padding-right: 60px; }
.author-info .author-title .g1-delta > a { display: block; }

@media only screen and (min-width: 801px) { .author-info { padding: 30px 30px 0; }
  .author-info .author-avatar { right: 0; width: auto; height: auto; }
  .author-info .author-overview { padding-right: 90px; } }
.g1-nav-single { margin: 2rem 0 1rem; font-family: "Poppins", "Roboto", "Arial", sans-serif; }

.g1-single-nav-label { position: absolute; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; overflow: hidden; }

.g1-nav-single-links { margin: 0; overflow: hidden; list-style: none; }
.g1-nav-single-links:after { display: table; clear: both; content: ""; }

.g1-nav-single-prev, .g1-nav-single-next { margin-bottom: 1rem; }
.g1-nav-single-prev > a, .g1-nav-single-next > a { display: block; padding-right: 30px; padding-left: 30px; color: inherit; }
.g1-nav-single-prev > a > strong, .g1-nav-single-next > a > strong { display: block; margin-bottom: 0.5em; font-size: 13px; line-height: 16px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: normal; opacity: 0.666; }
.g1-nav-single-prev > a > span, .g1-nav-single-next > a > span { display: block; position: relative; }

.g1-nav-single-prev > a > span { margin-right: auto; margin-left: 0; }
.g1-nav-single-prev > a > span:before { display: inline-block; position: absolute; top: -3px; width: 30px; margin-right: -30px; font-size: 28px; font-family: "bimber"; font-weight: normal; content: "\e00d"; text-align: right; color: #ff0036; }

.g1-nav-single-next > a > span { margin-right: 0; margin-left: auto; }
.g1-nav-single-next > a > span:after { display: inline-block; position: absolute; top: -3px; right: auto; left: 100%; width: 30px; font-size: 28px; font-family: "bimber"; font-weight: normal; content: "\e00b"; text-align: right; color: #ff0036; }

.g1-nav-single-back { position: absolute; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; overflow: hidden; }

@media only screen and (min-width: 801px) { .g1-nav-single-prev { float: right; width: 50%; text-align: right; }
  .g1-nav-single-next { float: left; width: 50%; text-align: left; }
  .g1-nav-single-next > a > span:after { right: 100%; left: auto; text-align: left; } }
.g1-nav-single-prev > a:hover strong, .g1-nav-single-prev > a:hover span, .g1-nav-single-next > a:hover strong, .g1-nav-single-next > a:hover span { color: #ff0036; }

.archive-header { padding-top: 20px; }
.archive-header > .g1-row-background { border-width: 0 0 1px 0; border-style: solid; border-color: #e6e6e6; }
.archive-header .g1-column { overflow: hidden; }
.archive-header .archive-icon { float: right; margin-left: 20px; }
.archive-header .archive-title { margin-bottom: 20px; }
.archive-header .archive-subtitle { margin-top: -20px; margin-bottom: 20px; }
.archive-header .g1user-follow-label { clip: rect(1px, 1px, 1px, 1px); position: absolute; width: 1px; height: 1px; overflow: hidden; }

.archive-body { padding: 30px 0; }

@-webkit-keyframes g1_frame_icon_bounce { 0% { -webkit-transform: scale(1, 1); }
  50% { -webkit-transform: scale(0.5, 0.5); }
  100% { -webkit-transform: scale(1, 1); } }
@keyframes g1_frame_icon_bounce { 0% { transform: scale(1, 1); }
  50% { transform: scale(0.5, 0.5); }
  100% { transform: scale(1, 1); } }
.alignleft { max-width: 50%; margin: 0 1.5em 0.75em 0; float: right; }

.alignright { margin: 0 1.5em 0.75em 0; float: left; }

.aligncenter { margin-right: auto; margin-left: auto; display: block; }

/* Responsive captions */
.mceTemp, .wp-caption, .wp-caption-dt, .wp-caption-dd { max-width: 100%; }

.gallery-caption { text-transform: none; }

.wp-caption img { display: block; }

.wp-caption-text { padding-top: 0.5em; padding-left: 10px; text-align: right; font-size: 13px; line-height: 1.125; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-style: normal; font-weight: 400; opacity: 0.666; }
.wp-caption-text a { text-decoration: underline; color: inherit; }

.g1-frame { display: block; }

.g1-frame-inner { display: block; overflow: hidden; width: 100%; height: 0; position: relative; }
.g1-frame-inner img { display: block; }

.g1-frame-icon { display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 40px; height: 40px; margin-top: -20px; margin-right: -20px; position: absolute; z-index: 1; right: 50%; left: auto; top: 50%; font: 24px/40px "bimber"; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background-color: #000; background-color: rgba(0, 0, 0, 0.666); color: #fff; }
.g1-frame-icon:before { content: "\e01e"; }

.format-video > .entry-featured-media .g1-frame-icon { display: block; }
.format-video > .entry-featured-media .g1-frame-icon:before { padding-right: 10%; }

.entry-featured-media-main .g1-frame-inner { overflow: visible; }

.jsgif { position: relative; }

.g1-indicator-gif { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; z-index: 1; right: 50%; left: auto; top: 50%; bottom: auto; width: 60px; height: 60px; margin-right: -30px; margin-top: -30px; border-width: 3px; border-style: solid; text-align: center; letter-spacing: 0; font-size: 16px; line-height: 1; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 600; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border-color: #fff; background-color: #000; background-color: rgba(0, 0, 0, 0.666); color: #fff; }
.g1-indicator-gif:before { display: block; position: absolute; right: 0; left: 0; top: 50%; margin-top: -0.5em; content: "gif"; }

@media only screen and (min-width: 801px) { .g1-indicator-gif { width: 80px; height: 80px; margin-right: -40px; margin-top: -40px; border-width: 0; font-size: 24px; } }
.g1-indicator-gif-playing { display: none; }

.g1-box { position: relative; padding: 36px 30px 1px; /* Dynamic border color */ /* Tricky bottom padding */ }
.g1-box:before { display: block; position: absolute; z-index: -1; right: 0; left: 0; top: 0; bottom: 0; border-width: 6px; border-style: solid; opacity: 0.1667; content: ""; }
.g1-box:after { display: block; width: 100%; height: 0; margin-top: 35px; content: ""; }

.g1-box-icon { display: block; width: 40px; height: 40px; margin: -46px auto 10px; text-align: center; font: 24px/40px "bimber"; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.g1-box-icon:before { content: "\e012"; }
.g1-collection-item .g1-box-icon { display: none; }

.snax-widget-cta > header, .g1-newsletter > header { overflow: hidden; position: absolute; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); }

#secondary .g1-box > header .widgettitle:before, #secondary .g1-box > header .widgettitle:after { display: none; }

.g1-box-centered { text-align: center; }
.g1-box-centered input, .g1-box-centered select { text-align: center; }
.g1-box-centered input:focus, .g1-box-centered select:focus { text-align: right; }
.g1-box-centered input[type=submit]:focus { text-align: center; }
.g1-box-centered .mc4wp-form label { display: none; }

@media only screen and (min-width: 1025px) { .g1-box { padding-right: 34px; padding-left: 34px; } }
/** MashShare LTR | RTL */
.mashsb-count { float: right; }

[class*=" mashicon-"] .icon::before, [class^="mashicon-"] .icon::before { margin-left: 0; }
@media only screen and (min-width: 801px) { [class*=" mashicon-"] .icon::before, [class^="mashicon-"] .icon::before { margin-left: 0.7em; } }

/** Change the yellow subscribe icon */
.mashicon-subscribe { background: #808080; }
.mashicon-subscribe .icon, .mashicon-subscribe .text { color: #fff; }

/* Change the yellow subscribe icon */
.mashsb-toggle-container { position: relative; margin-top: 15px; padding: 1.5rem 1.5rem 0; border-width: 0; border-color: currentColor; }
.mashsb-toggle-container:before { display: block; position: absolute; z-index: -1; right: 0; left: 0; top: 0; bottom: 0; border-width: 6px; border-style: solid; content: ""; opacity: 0.1667; }
.mashsb-toggle-container:after { display: block; overflow: hidden; height: 0; margin-top: 1.5rem; content: " "; }

.mashsb-container + .mashsb-container { display: none; }

.mashsb-box { font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 500; }

.mashsb-count { margin-top: 0; margin-left: 15px; }

.mashsb-buttons .mashsb-count { margin-left: 0; margin-right: 15px; }

.mashsb-buttons .mashsb-count:first-child { margin-left: 15px; margin-right: 0; }

.mashsb-sharetext { font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 300; }

.mashsb-main { padding-top: 12px; padding-bottom: 24px; border-width: 1px 0 0; border-style: solid; border-color: #e6e6e6; }
.mashsb-main .mashsbcount, .mashsb-main .mashpv .count { font-size: 36px; line-height: 1; font-family: "Poppins", "Roboto", sans-serif; font-weight: 700; letter-spacing: -0.05em; }
.mashsb-main .mashsb-sharetext { display: block; margin-top: 0.5em; font-size: 13px; line-height: 1; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 300; }

.mashsb-buttons { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
.mashsb-buttons:after { display: table; clear: both; content: ""; }
.mashsb-buttons a { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; min-width: 0; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.mashsb-buttons .text { display: none; font-size: 16px; font-weight: 500; }
.mashsb-buttons .onoffswitch, .mashsb-buttons .onoffswitch2 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.mashsb-buttons .onoffswitch:before, .mashsb-buttons .onoffswitch2:before { font-weight: normal; }

.mashsb-box .mashsb-buttons a { margin-right: 6px; }

@media only screen and (min-width: 801px) { .mashsb-main .mashsbcount, .mashsb-main .mashpv .count { font-size: 48px; line-height: 42px; }
  .mashsb-buttons .text { display: block; } }
@media only screen and (min-width: 1025px) { .mashsb-main .mashsbcount, .mashsb-main .mashpv .count { font-size: 56px; line-height: 42px; } }
.mashsb-micro { position: absolute; right: 6px; left: auto; top: 6px; }
@media only screen and (min-width: 1024px) { .mashsb-micro { left: 100%; right: auto; top: 0; padding-left: 6px; } }
.mashsb-micro .mashsb-micro-toggle { display: block; width: 32px; height: 32px; cursor: pointer; text-align: center; font-size: 18px; line-height: 32px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #c5c5c5; color: #fff; }
.mashsb-micro .mashsb-micro-toggle:before { font-family: "bimber"; font-weight: normal; content: "\e011"; }
.mashsb-micro .mashsb-buttons { display: none; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.mashsb-micro .mashsb-buttons a { margin: 0px; padding: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.mashsb-micro .mashsb-buttons a .icon { display: block; width: 48px; height: 48px; margin: 0; text-align: center; }
.mashsb-micro .mashsb-buttons a .icon:before { float: none; margin: 0; line-height: 48px; }
.mashsb-micro .mashsb-buttons .text { display: none; }

.g1-img-wrap { display: block; position: relative; }

.mashsb-micro-wrapper { display: block; position: relative; }
.mashsb-micro-wrapper .onoffswitch, .mashsb-micro-wrapper .onoffswitch2 { position: absolute; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; overflow: hidden; }

.g1-hoverable .mashsb-micro-wrapper:hover .mashsb-micro .mashsb-micro-toggle, .mashsb-micro-wrapper-expanded .mashsb-micro .mashsb-micro-toggle { display: none; }
.g1-hoverable .mashsb-micro-wrapper:hover .mashsb-micro .mashsb-buttons, .mashsb-micro-wrapper-expanded .mashsb-micro .mashsb-buttons { display: block; }

.g1-link-toggle { display: none; position: absolute; right: 50%; left: auto; bottom: 0; width: 0; height: 0; margin-right: -6px; border-width: 6px; border-style: solid; border-color: transparent transparent currentColor transparent; content: ""; }

.g1-hamburger-icon { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; border-width: 2px 0; width: 30px; height: 20px; border-style: solid; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; }
.g1-hamburger-icon:before, .g1-hamburger-icon:after { display: block; position: absolute; right: 0; left: auto; top: 50%; width: 100%; margin-top: -1px; border-width: 1px 0; border-style: solid; content: ""; }

.g1-hamburger-label { display: none; }

.menu-item { position: relative; }
.menu-item > a { display: block; line-height: 1.25; color: #000; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out; }
.menu-item ul { display: none; }

.menu-item-has-children > a:after { display: inline-block; margin-right: 4px; vertical-align: middle; font-size: 14px; line-height: 1; font-weight: normal; font-family: "bimber"; content: "\e000"; }

.mtm-drop-expanded > a:after { content: "\e002"; }

.g1-menu-item-helper { margin-bottom: 6px; }
.g1-menu-item-helper > .mtm-link { font-size: 13px; line-height: 15px; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: normal; text-transform: uppercase; letter-spacing: 0.05em; opacity: 0.666; }

.sub-menu { margin: 0; padding: 15px 0; list-style: none; }
.sub-menu > li > a { padding: 4px 20px; font-size: 13px; font-family: "Poppins"; font-weight: 500; text-transform: uppercase; }

.g1-dropable .menu-item ul { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; z-index: 2; right: 0; left: auto; top: 100%; width: 240px; padding: 20px 0; -moz-box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); -webkit-box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); }
.g1-dropable .menu-item ul a { display: block; padding: 4px 20px; }
.g1-dropable .menu-item ul ul { right: 100%; left: auto; top: 0; }

.g1-hoverable .g1-dropable .menu-item:hover, .mtm-drop-expanded { z-index: 1; }
.g1-hoverable .g1-dropable .menu-item:hover > ul, .mtm-drop-expanded > ul { display: block; }

.g1-hoverable .g1-dropable .menu-item:hover > a > .g1-link-toggle { display: block; }

/* CSS3 animations */
.g1-dropable .menu-item > .sub-menu, .g1-dropable .menu-item > a > .g1-link-toggle { display: block; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transform: translate(0px, 30px); -ms-transform: translate(0px, 30px); -webkit-transform: translate(0px, 30px); transform: translate(0px, 30px); -moz-transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, -moz-transform 0.375s ease-in-out 0.175s; -o-transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, -o-transform 0.375s ease-in-out 0.175s; -webkit-transition: visibility 0s, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; -webkit-transition-delay: 0.55s, 0.175s, 0.175s; transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, transform 0.375s ease-in-out 0.175s; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; }

.g1-hoverable .g1-dropable .menu-item:hover > .sub-menu, .g1-hoverable .g1-dropable .menu-item:hover > a > .g1-link-toggle, .g1-dropable .mtm-drop-expanded > .sub-menu, .g1-dropable .mtm-drop-expanded > a > .g1-link-toggle { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); -moz-transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, -moz-transform 0.375s ease-in-out 0.175s; -o-transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, -o-transform 0.375s ease-in-out 0.175s; -webkit-transition: visibility 0s ease-in-out, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; -webkit-transition-delay: 0.175s, 0.175s, 0.175s; transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, transform 0.375s ease-in-out 0.175s; }

/* Off-canvas sidebars */
html { height: 100%; overflow-x: hidden; overflow-y: scroll; }

body { overflow: hidden; }

.g1-body-inner { position: relative; z-index: 1; -moz-transition: -moz-transform 0.5s ease-in-out; -o-transition: -o-transform 0.5s ease-in-out; -webkit-transition: -webkit-transform 0.5s ease-in-out; transition: transform 0.5s ease-in-out; }

.g1-canvas-overlay { display: block; visibility: hidden; position: absolute; z-index: 998; top: 0; right: 0; left: auto; width: 100%; height: 100%; cursor: pointer; -moz-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); -o-transition: visibility 0s ease-in-out 0.5s, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); -webkit-transition: visibility 0s ease-in-out, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); -webkit-transition-delay: 0.5s, 0s; transition: visibility 0s ease-in-out 0.5s, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); background-color: #000; opacity: 0; }

.g1-canvas { visibility: hidden; position: fixed; position: absolute; top: 0; z-index: 998; width: 320px; max-width: 100vw; height: 100%; background-color: #fff; overflow-y: auto; -ms-overflow-style: none; -ms-overflow-style: -ms-autohiding-scrollbar; -moz-transition: visibility 0s ease-in-out 0.5s; -o-transition: visibility 0s ease-in-out 0.5s; -webkit-transition: visibility 0s ease-in-out; -webkit-transition-delay: 0.5s; transition: visibility 0s ease-in-out 0.5s; }
.g1-canvas > .g1-canvas-content { position: relative; margin: 60px 30px 30px; }

.g1-canvas-toggle { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: 44px; height: 28px; margin-right: -22px; position: absolute; right: 50%; left: auto; top: 10px; z-index: 1; line-height: 26px; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.g1-canvas-toggle:hover { opacity: 0.666; }
.g1-canvas-toggle:before { display: inline-block; position: absolute; right: 0; left: auto; top: 50%; width: 100%; margin-top: -0.5em; font-size: 24px; line-height: 1; font-family: "bimber", sans-serif; font-weight: normal; content: "\e01b"; }

.g1-canvas-global { z-index: 0; right: 0; left: auto; }

html.g1-off-global { overflow: hidden; }
html.g1-off-global body { height: 100%; overflow: hidden; }
html.g1-off-global .g1-body-inner { -moz-transform: translate(-320px, 0); -ms-transform: translate(-320px, 0); -webkit-transform: translate(-320px, 0); transform: translate(-320px, 0); }
html.g1-off-global .g1-canvas { visibility: visible; -moz-transition: visibility 0s ease-in-out; -o-transition: visibility 0s ease-in-out; -webkit-transition: visibility 0s ease-in-out; transition: visibility 0s ease-in-out; }
html.g1-off-global .g1-canvas-overlay { display: block; visibility: visible; opacity: 0.666; -moz-transition: visibility 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); -o-transition: visibility 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); -webkit-transition: visibility 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); transition: visibility 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.735, 0.185, 0.41, 1.245); }

.g1-socials-item-tooltip { display: none !important; }

.g1-primary-nav { margin-bottom: 1.5rem; }
.g1-primary-nav ul { margin: 0; list-style: none; }
.g1-primary-nav > ul > .menu-item { display: block; font-size: 1rem; }
.g1-primary-nav > ul > .menu-item > a { display: block; padding: 4px 0; font-weight: 700; font-size: 14px; line-height: 16px; font-family: "Poppins", "Roboto", "Arial", sans-serif; text-transform: uppercase; }

.g1-quick-nav { clear: both; padding-top: 5px; padding-bottom: 5px; }

.g1-quick-nav-menu { display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0; list-style: none; text-align: center; }
.g1-quick-nav-menu > .menu-item { display: inline-block; -webkit-flex: 1 0 0%; -ms-flex: 1 0 0%; flex: 1 0 0%; }
.g1-quick-nav-menu > .menu-item > a { display: block; padding: 0 5px; text-transform: uppercase; font-size: 11px; line-height: 1.125; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; color: inherit; }
.g1-quick-nav-menu > .menu-item > a:before { display: block; margin-bottom: 0.1em; font-size: 18px; font-family: "bimber"; font-weight: normal; opacity: 0.3; -moz-transition: opacity 0.375s ease-in-out; -o-transition: opacity 0.375s ease-in-out; -webkit-transition: opacity 0.375s ease-in-out; transition: opacity 0.375s ease-in-out; }
.g1-quick-nav-menu > .current-menu-item > a:before, .g1-quick-nav-menu > .menu-item:hover > a:before { opacity: 1; }

.menu-item-type-g1-latest > a:before { content: "\e017"; }

.menu-item-type-g1-popular > a:before { content: "\e015"; }

.menu-item-type-g1-hot > a:before { content: "\e01c"; }

.menu-item-type-g1-trending > a:before { content: "\e00e"; }

@media only screen and (min-width: 801px) { .g1-quick-nav { display: block; clear: none; float: left; margin-top: 15px; margin-bottom: 15px; padding-top: 0; padding-bottom: 0; }
  .g1-quick-nav .g1-quick-nav-menu { display: block; }
  .g1-quick-nav .g1-quick-nav-menu > .menu-item > a { padding: 0 10px; font-size: 16px; }
  .g1-quick-nav .g1-quick-nav-menu > .menu-item > a:before { font-size: 32px; } }
.g1-footer-nav { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 15px; }
.g1-footer-nav:after { display: table; clear: both; content: ""; }
.g1-footer-nav > ul { margin: 0 -10px; list-style: none; }
.g1-footer-nav > ul > .menu-item { display: inline-block; }
.g1-footer-nav a { display: block; padding: 0 10px; color: inherit; }

.g1-drop { display: block; margin-bottom: 1.5rem; }

.g1-drop-toggle { display: none; position: relative; font-size: 0; font-family: "Poppins", "Roboto", "Arial", sans-serif; font-weight: 700; text-transform: uppercase; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; }
.g1-drop-toggle .bimber-icon { display: inline-block; vertical-align: middle; font-size: 14px; }

.g1-drop-toggle-badge { display: inline-block; min-width: 1.5em; position: absolute; left: -0.75em; right: auto; top: -0.375em; text-align: center; font-size: 12px; line-height: 1.5; font-weight: 300; -moz-border-radius: 0.75em; -webkit-border-radius: 0.75em; border-radius: 0.75em; }

.g1-drop-toggle-arrow { display: none; position: absolute; z-index: 99; right: 50%; left: auto; bottom: 0; width: 0; height: 0; margin-right: -6px; border-width: 6px; border-style: solid; border-color: transparent transparent currentColor transparent; content: ""; /* Hide if there's no .g1-drop-content inside .g1-drop */ }
.g1-drop-toggle:last-child > .g1-drop-toggle-arrow { display: none !important; }

.g1-drop-content { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.g1-dropable .g1-drop { display: inline-block; margin-left: 10px; vertical-align: top; }
.g1-dropable .g1-drop-toggle { display: inline-block; }
.g1-dropable .g1-drop-content { display: none; position: absolute; z-index: 1; right: 0; left: 0; background-color: #fff; -moz-box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); -webkit-box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07); }

.g1-hoverable .g1-dropable .g1-drop:hover .g1-drop-content, .g1-dropable .g1-drop-expanded .g1-drop-content { display: block; }

@media only screen and (min-width: 1025px) { .g1-dropable .g1-drop { position: relative; }
  .g1-dropable .g1-drop .g1-drop-content { width: 240px; right: 0; left: auto; top: 100%; }
  .g1-dropable .g1-drop-before .g1-drop-content { left: 0; right: auto; } }
/* CSS3 animations */
.g1-dropable .g1-drop > .g1-drop-content, .g1-dropbale .g1-drop > .g1-drop-toggle > .g1-drop-toggle-arrow { display: block; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transform: translate(0px, 20px); -ms-transform: translate(0px, 20px); -webkit-transform: translate(0px, 20px); transform: translate(0px, 20px); -moz-transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, -moz-transform 0.375s ease-in-out 0.175s; -o-transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, -o-transform 0.375s ease-in-out 0.175s; -webkit-transition: visibility 0s, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; -webkit-transition-delay: 0.55s, 0.175s, 0.175s; transition: visibility 0s 0.55s, opacity 0.375s ease-in-out 0.175s, transform 0.375s ease-in-out 0.175s; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; }

.g1-hoverable .g1-dropable .g1-drop:hover > .g1-drop-content, .g1-hoverable .g1-dropable .g1-drop:hover > .g1-drop-toggle > .g1-drop-toggle-arrow, .g1-dropable .g1-drop-expanded > .g1-drop-content, .g1-dropable .g1-drop-expanded > .g1-drop-toggle > .g1-drop-toggle-arrow { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); -moz-transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, -moz-transform 0.375s ease-in-out 0.175s; -o-transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, -o-transform 0.375s ease-in-out 0.175s; -webkit-transition: visibility 0s ease-in-out, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; -webkit-transition-delay: 0.175s, 0.175s, 0.175s; transition: visibility 0s ease-in-out 0.175s, opacity 0.375s ease-in-out 0.175s, transform 0.375s ease-in-out 0.175s; }

.g1-dropable .g1-drop-the-socials { position: relative; }
.g1-dropable .g1-drop-the-socials > .g1-drop-content { right: 50%; left: auto; width: 60px; padding: 6px; margin-right: -30px; }
.g1-dropable .g1-drop-the-socials .g1-socials-items { margin: 0; }
.g1-dropable .g1-drop-the-search > .g1-drop-content { padding: 15px; }
.g1-dropable .g1-drop-the-search .search-form { margin: 0; }

.g1-drop-the-user .bimber-icon { position: relative; }
.g1-drop-the-user .bimber-icon .avatar { position: absolute; right: 0; left: auto; top: 0; }

body.logged-in .g1-drop-the-user .bimber-icon:before { visibility: hidden; }

.adsbygoogle { color: inherit; background: transparent; }

.g1-advertisement { margin-top: 3rem; margin-bottom: 3rem; }
.g1-advertisement img { display: block; margin-right: auto; margin-left: auto; }
.g1-advertisement .g1-fluid-wrapper { margin: 0 auto; }

.g1-advertisement-before-header-theme-area { margin-top: 0; margin-bottom: 0; padding: 10px 0; border-width: 0 0 1px 0; border-style: solid; border-color: #e6e6e6; }

.g1-advertisement-before-content-theme-area { margin-top: 0; margin-bottom: 0; padding: 10px 0; border-width: 0 0 1px 0; border-style: solid; border-color: #e6e6e6; }

.g1-advertisement-inside-grid { margin-top: 0; margin-bottom: 0; }

@media only screen and (min-width: 801px) { .g1-advertisement-before-content-theme-area { padding: 10px 0; } }
.widget .g1-advertisement { margin-top: 0; margin-bottom: 0; }

@font-face { font-family: "bimber"; src: url("bimber/fonts/bimber.eot"); src: url("bimber/fonts/bimber.eot?#iefix") format("embedded-opentype"), url("bimber/fonts/bimber.woff") format("woff"), url("bimber/fonts/bimber.ttf") format("truetype"), url("bimber/fonts/bimber.svg#bimber") format("svg"); font-weight: normal; font-style: normal; }
.bimber-icon-person { display: inline-block; width: 30px; height: 30px; font-style: normal; text-align: center; }
.bimber-icon-person:before { display: inline-block; font-size: 32px; line-height: 30px; font-family: "bimber", sans-serif; font-weight: normal; vertical-align: middle; content: "\e013"; }

.bimber-icon-search { display: inline-block; width: 30px; height: 30px; font-style: normal; text-align: center; }
.bimber-icon-search:before { display: inline-block; font-size: 32px; line-height: 30px; font-family: "bimber", sans-serif; font-weight: normal; vertical-align: middle; content: "\e016"; }

.bimber-icon-follow { display: inline-block; width: 30px; height: 30px; font-style: normal; text-align: center; }
.bimber-icon-follow:before { display: inline-block; font-size: 32px; line-height: 30px; font-family: "bimber", sans-serif; font-weight: normal; vertical-align: middle; content: "\e011"; }

.g1-sharebar { display: none; position: fixed; z-index: 99; top: 0; right: 0; left: 0; background: #fff; -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

body.admin-bar .g1-sharebar { top: 32px; }

@media screen and (max-width: 782px) { body.admin-bar .g1-sharebar { top: 46px; } }
@media only screen and (min-width: 801px) { .g1-sharebar-on { display: block; }
  .g1-sharebar-off { display: none; }
  /* CSS3 animations */
  .cssanimations .g1-sharebar { display: block; -moz-transition: visibility 0s, opacity 0.375s ease-in-out, -moz-transform 0.375s ease-in-out; -o-transition: visibility 0s, opacity 0.375s ease-in-out, -o-transform 0.375s ease-in-out; -webkit-transition: visibility 0s, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; transition: visibility 0s, opacity 0.375s ease-in-out, transform 0.375s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; }
  .cssanimations .g1-sharebar-off { visibility: hidden; -moz-transform: translate(0px, -100%); -ms-transform: translate(0px, -100%); -webkit-transform: translate(0px, -100%); transform: translate(0px, -100%); -moz-transition: visibility 0s 0.375s, opacity 0.375s ease-in-out, -moz-transform 0.375s ease-in-out; -o-transition: visibility 0s 0.375s, opacity 0.375s ease-in-out, -o-transform 0.375s ease-in-out; -webkit-transition: visibility 0s, opacity 0.375s ease-in-out, -webkit-transform 0.375s ease-in-out; -webkit-transition-delay: 0.375s, 0s, 0s; transition: visibility 0s 0.375s, opacity 0.375s ease-in-out, transform 0.375s ease-in-out; }
  .cssanimations .g1-sharebar-on { visibility: visible; -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }
.g1-sharebar .mashsb-container { padding-top: 6px; padding-bottom: 3px; }
.g1-sharebar .mashsbcount, .g1-sharebar .mashpv .count { font-size: 30px; line-height: 1; }
.g1-sharebar .mashsb-sharetext { display: block; }

.g1-404-icon { display: inline-block; margin-bottom: 0.2em; font-size: 96px; line-height: 1; opacity: 0.2; }

@media only screen and (min-width: 1025px) { #page { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }
  body.admin-bar #page { min-height: calc( 100vh - 32px ); }
  #page > #primary.g1-primary-max { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; } }
/* 5.3 Header - Theme Area
----------------------------------------------------------------------------- */
.g1-header { clear: both; position: relative; z-index: 50; margin: 0 auto; }
.g1-header:before { display: table; content: ""; }

.site-title, .site-description { margin-bottom: 0; }

.g1-logo-wrapper { display: block; position: relative; }
.g1-logo-wrapper .g1-logo { display: block; }

.g1-id { display: table; margin: 15px auto; }

@media only screen and (max-width: 799px) { .g1-logo { max-height: 40px; width: auto; } }
@media only screen and (min-width: 801px) { .g1-header .g1-id { float: right; } }
.g1-navbar { position: relative; z-index: 70; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; min-height: 50px; }
.g1-navbar > .g1-row-inner:after { display: table; clear: both; content: ""; }
.g1-navbar a { color: inherit; }
.g1-navbar .g1-hamburger { float: right; margin-left: 10px; padding-top: 15px; padding-bottom: 15px; }
.g1-navbar .g1-logo-small-wrapper { display: none; float: right; margin: 5px 0 5px 10px; }
.g1-navbar .g1-logo-small-wrapper .g1-logo-small { display: block; max-height: 40px; width: auto; }
.g1-navbar .g1-primary-nav { display: none; float: right; margin-bottom: 0; }
.g1-navbar .g1-primary-nav > ul > .menu-item { display: inline-block; vertical-align: top; }
.g1-navbar .g1-primary-nav > ul > .menu-item > a { padding: 17px 10px; }
.g1-navbar .g1-drop { margin-bottom: 0; }
.g1-navbar .g1-drop-toggle { padding-top: 10px; padding-bottom: 10px; }
.g1-navbar .g1-drop-toggle-badge { top: 6px; }
.g1-navbar .g1-drop-the-user { float: left; }
.g1-navbar .g1-drop-the-search { float: left; }
.g1-navbar .g1-drop-the-socials { float: left; }

@media only screen and (max-width: 800px) { body.g1-has-mobile-logo .g1-header .g1-id { display: none; }
  body.g1-has-mobile-logo .g1-navbar .g1-logo-small-wrapper { display: block; margin-right: auto; margin-left: auto; }
  body.g1-has-mobile-logo .g1-navbar .g1-drop-the-socials, body.g1-has-mobile-logo .g1-navbar .g1-drop-the-search { display: none; } }
@media only screen and (min-width: 961px) { .g1-navbar .g1-primary-nav { display: block; }
  .g1-navbar .g1-hamburger { display: none; } }
.g1-socials { position: relative; }
.g1-socials .g1-socials-items { display: inline-block; margin-bottom: 0; }

/* 5.5 Content - Theme Area
----------------------------------------------------------------------------- */
/* Default Template - Sidebar on Right */
#primary { display: block; font-size: 1rem; text-align: right; vertical-align: top; }

#secondary { display: block; font-size: 1rem; text-align: right; vertical-align: top; }

@media only screen and (min-width: 801px) { #primary, #secondary { display: inline-block; } }
/* 5.7 Footer - Theme Area
----------------------------------------------------------------------------- */
.g1-prefooter { padding-top: 3rem; }
.g1-prefooter .widget { margin-bottom: 3rem; }

.g1-footer { padding-top: 15px; font-family: "Poppins", "Roboto", "Arial", sans-serif; }
.g1-footer .g1-column { font-size: 13px; line-height: 1.5; }

.g1-prefooter + .g1-footer { border-top: 1px solid #ccc; }

.g1-footer-stamp { display: table; clear: both; margin-right: auto; margin-left: auto; font-size: 12px; line-height: 14px; color: inherit; -moz-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -o-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; -webkit-transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; transition: border-color 0.375s ease-in-out, background-color 0.375s ease-in-out, color 0.375s ease-in-out, opacity 0.375s ease-in-out; }
.g1-footer-stamp:hover { opacity: 0.8; }

.g1-footer-stamp-icon { display: block; margin-right: auto; margin-left: auto; }

.g1-footer-stamp-label { display: block; margin: 0.75em 0; }

.g1-footer-text { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 15px; }

@media only screen and (max-width: 800px) { .g1-footer { text-align: center; } }
@media only screen and (min-width: 801px) { .g1-footer-text { width: 50%; padding-left: 15px; float: right; }
  .g1-footer-nav { width: 50%; padding-right: 15px; float: left; }
  .g1-footer-nav > ul { float: left; } }
/* Fix Instagram embed before the JS is applied  */
blockquote.instagram-media:before, blockquote.instagram-media:after, blockquote.instagram-media-registered:before, blockquote.instagram-media-registered:after { display: none; }

.instagram-media, .instagram-media-registered { box-shadow: none !important; border-radius: 0 !important; border-width: 1px !important; border-style: solid !important; border-color: #e6e6e6 !important; }

/** Magnific Popup adjustments */
.mfp-close { font-size: 0; }
.mfp-close:before { font: 24px/44px "bimber"; content: "\e01b"; }
.mfp-close:hover, .mfp-close:active { top: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute; width: 1px; height: 1px; overflow: hidden; }

/** Add some empty space before the target element.  This way sticky elements won't cover it */
#comments:target:before { display: block; height: 120px; content: ""; }
